<div [nbSpinner]="facade.loading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
  @if (facade.loaded()) {
    <p class="top-20">
      <ngx-image-uploading
        (uploadError)="facade.errorImage($event)"
        (fileAdded)="facade.fileAdded()"
        (remove)="facade.removeImage($event)"
        (success)="facade.addedImage()"
        (update)="facade.updateImage($event)"
        [addImageUrl]="facade.addImageUrl()"
        [deleteImageUrl]="facade.deleteImageUrl()"
        [images]="facade.images()">
      </ngx-image-uploading>
    </p>
  }
</div>
