<div class="inner_pages attribute_create_page">
  <!-- <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->
  <nb-card-header class="main_header">
    <h1 class="page_title">{{ 'PRODUCT_ATTRIBUTES.OPTIONS_ATTRIBUTES' | translate }}</h1>

    <div class="content_spacing">
      <button (click)="goToBack()" class="cancel_button" nbButton type="button">{{
          'ORDER_FORM.CANCEL'
            | translate
        }}
      </button>
      <!--
      <button type="submit" nbButton class="success_button" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large"
        nbSpinnerStatus="control" [disabled]="!form.valid">{{ ( !loader ? 'COMMON.SAVE' : '' ) | translate }}</button>-->
      <button (click)="save()" [nbSpinner]="loading" class="success_button" nbButton nbSpinnerSize="large"
              nbSpinnerStatus="control" type="button">
        {{ (!loading ? 'COMMON.SAVE' : '') | translate }} {{ (!loading ? 'COMMON.SAVE' : '') | translate }}
      </button>
    </div>
  </nb-card-header>
  <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
  <form [formGroup]='form'>
    <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">
        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel">{{ 'PRODUCT_ATTRIBUTES.ATTRIBUTE_NAME' | translate }}
            *</label>
          <div class="col-sm-12">


            <p-dropdown *ngIf="options.length" [options]="options" filter="true"
                        formControlName='option' placeholder="Please select options">
              <ng-template let-item pTemplate="selectedItem">{{ item.label }}</ng-template>
              <ng-template let-el pTemplate="item">{{ el.label }}</ng-template>
            </p-dropdown>

            <span *ngIf="(option.dirty || option.touched) && option.invalid && option && option.errors.required"
                  class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate }}
            </span>
          </div>
        </div>

        <!--
          <div class="form-group">
            <div class="col-sm-12 group-block">
              <nb-checkbox formControlName='attributeDisplayOnly'>
                {{ 'PRODUCT_ATTRIBUTES.DISPLAY_ONLY_TEXT' | translate}}
              </nb-checkbox>
            </div>
          </div>
          -->

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel">{{ 'PRODUCT_ATTRIBUTES.PRODUCT_OPTION' | translate }}
            *</label>
          <div class="col-sm-12">

            <p-dropdown *ngIf="optionValues.length" [options]="optionValues" filter="true"
                        formControlName='optionValue' placeholder="Please select options value">
              <ng-template let-item pTemplate="selectedItem">{{ item.label }}</ng-template>
              <ng-template let-el pTemplate="item">{{ el.label }}</ng-template>
            </p-dropdown>
            <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue.invalid
                  && optionValue && optionValue.errors.required" class="err-message">
                  {{ 'COMMON.VALUE_REQUIRED' | translate }}
                </span>
          </div>


          <!--
          <p-autoComplete class="autoStore" placeholder="{{ 'OPTION_VALUE.SELECT_OPTION_VALUE' | translate }}" name="optionValue" formControlName="optionValue" [suggestions]="optionValues"
            [dropdown]="true" (onSelect)="onSelectOptionValue($event)" (completeMethod)="searchOptionValue($event)">
            <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
            <ng-template let-el pTemplate="item">{{el.label}}</ng-template>

          </p-autoComplete>
          -->

          <!--
          <p-autoComplete name="searchSuggestions" formControlName="optionValue" (completeMethod)="searchOptionValue($event)" [suggestions]="optionValues" field="field"></p-autoComplete>
          -->

          <!--
            <p-dropdown *ngIf="optionValues.length" [options]="optionValues" placeholder="OPTION_VALUE.SELECT_OPTION_VALUE"
              formControlName='optionValue' filter="true">
              <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
              <ng-template let-el pTemplate="item">{{el.label}}</ng-template>
            </p-dropdown>

            <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue.errors.required" class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate}}
            </span>
            <span *ngIf="(optionValue.dirty || optionValue.touched) && optionValue && optionValue.errors.invalid" class="err-message">
              {{ 'COMMON.INVALID_VALUE' | translate}}
            </span>
          -->


        </div>


        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="productAttributeUnformattedPrice">
            {{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate }}<span *ngIf="currency">({{ currency }})</span>
          </label>
          <div class="col-sm-12">
            <input (blur)="transformTotal()" class="form-control inputText" formControlName='productAttributeUnformattedPrice'
                   id="productAttributeUnformattedPrice" ngxValidateNumber
                   placeholder="{{ 'PRODUCT_ATTRIBUTES.OPTION_PRICE' | translate}}" type="text">
            <span *ngIf="(productAttributeUnformattedPrice.dirty || productAttributeUnformattedPrice.touched) && productAttributeUnformattedPrice.invalid
              && productAttributeUnformattedPrice && productAttributeUnformattedPrice.errors.required"
                  class="err-message">
              {{ 'COMMON.VALUE_REQUIRED' | translate }}
            </span>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="order">{{ 'COMMON.ORDER' | translate }} *</label>
          <div class="col-sm-12">
            <input class="form-control inputText" formControlName='sortOrder' id="order" ngxValidateNumber placeholder="{{ 'COMMON.ORDER' | translate}}"
                   type="number">
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12 group-block">
            <nb-checkbox formControlName='attributeDefault'>
              {{ 'PRODUCT_ATTRIBUTES.DEFAULT_OPTION' | translate }}
            </nb-checkbox>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12 group-block">
            <nb-checkbox formControlName='requiredOption'>
              {{ 'PRODUCT_ATTRIBUTES.REQUIRED_OPTION' | translate }}
            </nb-checkbox>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="productAttributeWeight">{{
              'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT'
                | translate
            }} *</label>
          <div class="col-sm-12">
            <input class="form-control inputText" formControlName='productAttributeWeight' id="productAttributeWeight"
                   ngxValidateNumber placeholder="{{ 'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT' | translate}}"
                   required type="number">
          </div>
        </div>


      </nb-card-body>
    </nb-card>
  </form>
  <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"></div>
  <!-- </div> -->
