<!-- <div *ngIf="loader" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"></div> -->
<div class="inner_pages brand_create_page">

  <nb-card-header class="main_header">
    <h1 class="page_title">{{ title | translate }}</h1>
    <!-- <div class="form-group">
        <label class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.LANGUAGE' | translate}} *</label>
        <div class="col-sm-12"> -->
    <!-- <div class="content_spacing">
      <nb-select *ngIf="languages.length" placeholder="{{ 'COMMON.LANGUAGE' | translate}}" outline shape="rectangle"
        formControlName='selectedLanguage' [selected]="'en'" class="fullWidth">
        <nb-option *ngFor="let language of languages" (click)="selectLanguage(language.code)" [value]="language.code">{{
          ('LANG.'+language.code) |
          translate }}</nb-option>
      </nb-select>
    </div> -->
    <!-- </div>
      </div> -->
    <div class="content_spacing">
      <button (click)="goToBack()" class="cancel_button" nbButton type="button">{{
          'ORDER_FORM.CANCEL'
            | translate
        }}
      </button>
    </div>
    <div class="content_spacing">
      <button (click)="save()" [nbSpinner]="loader" class="success_button" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
              type="submit">{{ (!loader ? 'COMMON.SAVE' : '') | translate }}
      </button>
    </div>
  </nb-card-header>

  <!-- <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->

  <!-- <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions"> -->

  <form [formGroup]='form' class="brandFormmanagement">
    <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">
        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="code">{{ 'COMMON.CODE' | translate }}</label>
          <div class="col-sm-12">
            <input (change)="checkCode($event)" [readOnly]="brand.id" class="form-control inputText" formControlName='code' id="code"
                   placeholder="{{ 'COMMON.CODE' | translate}}" required type="text">
            <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message">
              <span *ngIf="code.errors.required">
                {{ 'COMMON.CODE_REQUIRED' | translate }}
              </span>
              <span *ngIf="code.errors.pattern">
                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
              </span>
            </div>
            <span *ngIf="!isCodeUnique" class="err-message">
              {{ 'COMMON.CODE_EXISTS' | translate }}
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="sortOrder">{{ 'COMMON.ORDER' | translate }}</label>
          <div class="col-sm-12">
            <input class="form-control inputText" formControlName='order' id="sortOrder" ngxValidateNumber placeholder="{{ 'COMMON.ORDER' | translate }}"
                   required type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel">{{ 'COMMON.LANGUAGE' | translate }} *</label>
          <div class="col-sm-12">
            <nb-select *ngIf="languages.length" class="fullWidth" formControlName='selectedLanguage'
                       outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
              <nb-option *ngFor="let language of languages" [value]="language.code">{{
                  ('LANG.' + language.code) |
                    translate
                }}
              </nb-option>
            </nb-select>
          </div>
        </div>

        <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
          <div *ngFor="let descr of descriptions.controls; let j=index">
            <div *ngIf="descr.value.language === selectedLanguage.value">

              <div [formGroupName]="j" class="description-block">

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="name">{{
                      'DESCRIPTION_FORM.NAME' |
                        translate
                    }}</label>
                  <div class="col-sm-12">
                    <input (ngModelChange)="changeName($event, j)" class="form-control inputText" formControlName='name' id="name"
                           placeholder="{{ 'DESCRIPTION_FORM.NAME' | translate}}"
                           type="text">
                    <span *ngIf="(descr.get('name').dirty || descr.get('name').touched)
                              && descr.get('name').invalid && descr.get('name').errors.required" class="err-message">
                      {{ 'DESCRIPTION_FORM.NAME_REQUIRED' | translate }}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="highlight">{{
                      'DESCRIPTION_FORM.HIGHLIGHT' | translate
                    }}</label>
                  <div class="col-sm-12">
                    <input class="form-control inputText" formControlName='highlights' id="highlight" placeholder="{{ 'DESCRIPTION_FORM.HIGHLIGHT' | translate}}"
                           type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="friendlyUrl">{{
                      'DESCRIPTION_FORM.FRIENDLY_URL' | translate
                    }}</label>
                  <div class="col-sm-12">
                    <input class="form-control inputText" formControlName='friendlyUrl' id="friendlyUrl" placeholder="{{ 'DESCRIPTION_FORM.FRIENDLY_URL' | translate}}"
                           type="text">
                    <span *ngIf="(descr.get('friendlyUrl').dirty || descr.get('friendlyUrl').touched)
                              && descr.get('friendlyUrl').invalid && descr.get('friendlyUrl').errors.required"
                          class="err-message">
                      {{ 'DESCRIPTION_FORM.FRIENDLY_URL_REQUIRED' | translate }}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel">{{
                      'DESCRIPTION_FORM.DESCRIPTION' |
                        translate
                    }}</label>
                  <div class="col-sm-12">
                    <quill-editor [styles]="{height: '200px'}" formControlName="description"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="title">{{
                      'DESCRIPTION_FORM.TITLE' |
                        translate
                    }}</label>
                  <div class="col-sm-12">
                    <input class="form-control inputText" formControlName='title' id="title" placeholder="{{ 'DESCRIPTION_FORM.TITLE' | translate}}"
                           type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="keyWords">{{
                      'DESCRIPTION_FORM.KEYWORDS'
                        | translate
                    }}</label>
                  <div class="col-sm-12">
                    <input class="form-control inputText" formControlName='keyWords' id="keyWords" placeholder="{{ 'DESCRIPTION_FORM.KEYWORDS_PLACEHOLDER' | translate}}"
                           type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-10 col-form-label inputLabel" for="metaDescription">{{
                      'DESCRIPTION_FORM.META_DESCRIPTION' | translate
                    }}</label>
                  <div class="col-sm-12">
                    <input class="form-control inputText" formControlName='metaDescription' id="metaDescription"
                           placeholder="{{ 'DESCRIPTION_FORM.DESCRIPTION' | translate}}"
                           type="text">
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </form>
  <!-- </div> -->
  <!-- </div> -->
</div>
