<div class="inline-block">
  <div (filesChange)="onFilesChange()" [(files)]="files" [(validDrag)]="validDrag" [accept]="'image/*'" [class.dragActive]="validDrag" [class.dragReject]="validDrag===false"
       [class.error]="validDrag===false" [class.success]="validDrag" [multiple]="multi"
       [selectable]="false"
       class="dropzone" ngfDrop ngfSelect>
    {{
      validDrag == null ? 'Drop files here to upload' : validDrag ? 'Click or Drop files here to upload' :
        'File not supported'
    }}
  </div>
</div>
