{
	log {
		format json
		level ERROR
	}

	on_demand_tls {
		ask {$ASK_TLS_URL}

		burst 5
		interval 2m
	}
}

http:// {
	respond "welcome http" 200
}

https:// {
	log
	tls {
		on_demand
	}
	reverse_proxy {$STORE_POD_GATEWAY} {
    header_up Host store-pod-1.asrevo.com
    header_up Store-Host {http.request.host}
	}
}
