{
	#	on_demand_tls {
	#		ask http://localhost:8002/api/v1/router/public/ask-for-tls
	#
	#		burst 5
	#		interval 2m
	#	}
	#	storage s3 {
	#		host "Host"
	#		bucket "Bucket"
	#		use_iam_provider true
	#		prefix "ssl"
	#	}
}

#https:// {
#	tls {
#		on_demand
#	}
#}

#http:// {
#	redir https://{host}{uri} permanent
#}


http://gateway.me  {
	redir https://{host}{uri} permanent
}

https://gateway.me  {
	tls {
		issuer internal {
		}
	}
	reverse_proxy {
	    to http://localhost:9999
	    header_up Some-Header "the value"
	}
}
