<nb-card class="page-card inner_pages">
  <div [nbSpinner]="loadingList" class="product_inventory" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ product?.description.name }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">

          <ngx-back-button></ngx-back-button>
        </div>

        <div class="filter_right_section">

          <a [routerLink]="['/pages/catalogue/products/' + productId +'/inventory-creation']" class="createBtn ">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'INVENTORY.ADD_TO_INVENTORY' | translate}}">
            <label>{{ 'INVENTORY.ADD_TO_INVENTORY' | translate }}</label></a>
        </div>

      </form>

      <ng2-smart-table (custom)="route($event)" [settings]="settings" [source]="source" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [count]="totalCount" [currentPage]="currentPage" [pagesToShow]="5"
                     [perPage]="perPage">
      </ngx-paginator>
    </div>
  </div>
</nb-card>
