<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" class="image-content" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'filemanager.title' | translate }}</h1>
        <div class="content_spacing_empty"></div>
      </nb-card-header>
      <form class="form-inline filter_section">
        <div class="filter_left_section">

        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>
        </div>
      </form>
      <form class="form-inline filter_section">
        <div class="filter_left_section">
        </div>
        <div class="filter_right_section">
          <ngx-file-drop (onFileDrop)="dropped($event)" accept="image/*" dropZoneLabel="Drop files here">
            <ng-template let-openFileSelector="openFileSelector" ngx-file-drop-content-tmp>
              <button (click)="openFileSelector()" nbButton status="primary">{{ 'COMMON.BROWSE_FILES' | translate }}
              </button>
            </ng-template>
          </ngx-file-drop>
        </div>
      </form>
      <div [hidden]="files.length==0" class="file_listing_scroll">
        <ul class="file_listing_main">
          <li *ngFor="let images of files;let i=index">
            <div class="file_listing_box">
              <div class="image-title-main">
                <div class="close_main">
                  <i (click)="openImage(files,i)" class="fa fa-eye"></i>

                  <i (click)="unSelectImage(i)" class="fa fa-trash"></i>
                </div>
              </div>
              <div class="image_box">
                <img [id]="'blah-'+i" [src]="images.src" class="banner-image"/>
              </div>
            </div>
          </li>
        </ul>
        <button (click)="upload()" [disabled]="files.length==0" nbButton
                status="success">{{ 'filemanager.upload' | translate }}
        </button>
      </div>
      <div class="file_listing_scroll">
        <ul class="file_listing_main">
          <li *ngFor="let image of images;let i=index">
            <div class="file_listing_box">
              <div class="image-title-main">
                <div class="close_main">
                  <i (click)="openImage(images,i)" class="fa fa-eye"></i>
                  <i (click)="removeImage(image.name)" class="fa fa-trash"></i>
                </div>
              </div>
              <div class="image_box">
                <img class="banner-image" src="{{image.src}}"/>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nb-card-body>
</nb-card>

