<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORG' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="m-1" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button nbButton status="success" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="control"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='form'>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="firstName">
          {{ 'ORG_FORM.FIRST_NAME' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth  class="form-control " formControlName='firstName' id="firstName"
                 placeholder="{{ 'ORG_FORM.FIRST_NAME' | translate }}" required type="text">
          <span
            *ngIf="(form.controls['user'].get('firstName').dirty || form.controls['user'].get('firstName').touched) && form.controls['user'].get('firstName').invalid &&form.controls['user'].get('firstName')"
            class="err-message">
              <span *ngIf="form.controls['user'].get('firstName').errors.required">
                {{ 'ORG_FORM.FIRST_NAME_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="lastName">
          {{ 'ORG_FORM.LAST_NAME' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='lastName' id="lastName"
                 placeholder="{{ 'ORG_FORM.LAST_NAME' | translate }}" required type="text">
          <span
            *ngIf="(form.controls['user'].get('lastName').dirty || form.controls['user'].get('lastName').touched) && form.controls['user'].get('lastName').invalid &&form.controls['user'].get('lastName')"
            class="err-message">
              <span *ngIf="form.controls['user'].get('lastName').errors.required">
                {{ 'ORG_FORM.LAST_NAME_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='emailAddress' id="email"
                 placeholder="{{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
          <span
            *ngIf="(form.controls['user'].get('emailAddress').dirty || form.controls['user'].get('emailAddress').touched) && form.controls['user'].get('emailAddress').invalid &&form.controls['user'].get('emailAddress')"
            class="err-message">
              <span
                *ngIf="form.controls['user'].get('emailAddress').errors.email || form.controls['user'].get('emailAddress').errors.pattern">
                {{ 'ORG_FORM.EMAIL_ADDRESS_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="form.controls['user'].get('emailAddress').errors.required">
                {{ 'ORG_FORM.EMAIL_ADDRESS_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>

      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="password">
          {{ 'COMMON.PASSWORD' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='password' id="password"
                 placeholder="{{ 'COMMON.PASSWORD' | translate }}"
                 required type="password">
          <span
            *ngIf="(form.controls['user'].get('password').dirty || form.controls['user'].get('password').touched) && form.controls['user'].get('password').invalid && form.controls['user'].get('password')"
            class="err-message">
              <span *ngIf="form.controls['user'].get('password').errors.required">
                {{ 'ORG_FORM.PASSWORD_ERROR_REQUIRED' | translate }}
              </span>
              <span *ngIf="form.controls['user'].get('password').errors.pattern">
                {{ 'ORG_FORM.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                {{ 'ORG_FORM.PASSWORD_ERROR_RULES' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="password">
          Repeat Password *
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='repeatPassword' id="repeatPassword"
                 placeholder="Repeat Password"
                 required type="password">
          <span
            *ngIf="(form.controls['user'].get('repeatPassword').dirty || form.controls['user'].get('repeatPassword').touched) && form.controls['user'].get('repeatPassword').invalid && form.controls['user'].get('repeatPassword')"
            class="err-message">
              <span *ngIf="form.controls['user'].get('repeatPassword').errors.required">
                {{ 'ORG_FORM.PASSWORD_ERROR_REQUIRED' | translate }}<br/>
              </span>

            </span>
          <span *ngIf="form.hasError('notSame')" class="err-message">
              <span>
                {{ 'ORG_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="subscriptionPlan">
          {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}*
        </label>
        <div class="col-sm-12">

          <nb-select placeholder=" {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}"
                     formControlName='subscriptionPlan' id="subscriptionPlan">
            <nb-option *ngFor="let i of subscriptionPlans" [value]="i">{{ i }}</nb-option>
          </nb-select>


          <span
            *ngIf="(form.controls['subscriptionPlan'].dirty || form.controls['subscriptionPlan'].touched) && form.controls['subscriptionPlan'].invalid && form.controls['subscriptionPlan']"
            class="err-message">
              <span
                *ngIf="form.controls['subscriptionPlan'].errors.subscriptionPlan || form.controls['subscriptionPlan'].errors.pattern">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="form.controls['subscriptionPlan'].errors.required">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
