<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORDERS' | translate }}</h1>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="tableState.isLoading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="filter-section">
      <div class="row">
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="person-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.name" fullWidth nbInput placeholder="{{ 'ORDER.FILTER_NAME' | translate }}"
                   type="text">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="email-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.email" fullWidth nbInput placeholder="{{ 'ORDER.FILTER_EMAIL' | translate }}"
                   type="text">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="phone-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.phone" fullWidth nbInput placeholder="{{ 'ORDER.FILTER_PHONE' | translate }}"
                   type="text">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="bookmark-outline" nbPrefix></nb-icon>
            <nb-select [(ngModel)]="filter.status" fullWidth placeholder="{{ 'ORDER.FILTER_STATUS' | translate }}">
              <nb-option value="">{{ 'ORDER.FILTER_STATUS' | translate }}</nb-option>
              <nb-option value="ORDERED">{{ 'ORDER.STATUS_ORDERED' | translate }}</nb-option>
              <nb-option value="PROCESSED">{{ 'ORDER.STATUS_PROCESSED' | translate }}</nb-option>
              <nb-option value="DELIVERED">{{ 'ORDER.STATUS_DELIVERED' | translate }}</nb-option>
              <nb-option value="REFUNDED">{{ 'ORDER.STATUS_REFUNDED' | translate }}</nb-option>
              <nb-option value="CANCELED">{{ 'ORDER.STATUS_CANCELED' | translate }}</nb-option>
            </nb-select>
          </nb-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-12 d-flex justify-content-end">
        <button (click)="resetFilters()" class="mr-2" nbButton outline status="danger">
          <nb-icon icon="refresh-outline"></nb-icon>
          {{ 'ORDER.RESET_FILTER' | translate }}
        </button>
        <button (click)="onFilterChange()" nbButton status="primary">
          <nb-icon icon="search-outline"></nb-icon>
          {{ 'COMMON.SEARCH' | translate }}
        </button>
      </div>
    </div>
    <ngx-datatable
      (page)="onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="tableState.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="perPageSize"
      [offset]="tableState.page().pageNumber"
      [rows]="tableState.page().content"
      class="material"
      rowHeight="auto">


      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CustomerName">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.CUSTOMER_NAME' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.billing.firstName + '   ' + row.billing.lastName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CustomerPhone">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.CUSTOMER_PHONE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.billing.phone }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="CustomerEmail">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.CUSTOMER_EMAIL' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.billing.email }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="total">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.TOTAL' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.total.value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="datePurchased">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ORDER_DATE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.datePurchased }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="orderStatus">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.STATUS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.orderStatus }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/pages/orders/order-details',row.id]">
            <nb-icon icon="edit"></nb-icon>
          </a>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </nb-card-body>
</nb-card>
