<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.PRODUCTS' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button [routerLink]="['/pages/catalogue/products/create-product']" nbButton
                status="success">
          <span>{{ 'COMPONENTS.CREATE_PRODUCT' | translate }}</span>
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="facade.tableState.isLoading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="filter-section">
      <div class="row">
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="person-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.sku" fullWidth nbInput placeholder="{{ 'PRODUCT.FILTER_SKU' | translate }}"
                   type="text">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="bookmark-outline" nbPrefix></nb-icon>
            <nb-select [(ngModel)]="filter.available" fullWidth
                       placeholder="{{ 'PRODUCT.FILTER_AVAILABLE' | translate }}">
              <nb-option value="">{{ 'PRODUCT.FILTER_AVAILABLE' | translate }}</nb-option>
              <nb-option value="true">{{ 'PRODUCT.IS_AVAILABLE' | translate }}</nb-option>
              <nb-option value="false">{{ 'PRODUCT.IS_NOT_AVAILABLE' | translate }}</nb-option>
            </nb-select>
          </nb-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-12 d-flex justify-content-end">
        <button (click)="resetFilters()" class="mr-2" nbButton outline status="danger">
          <nb-icon icon="refresh-outline"></nb-icon>
          {{ 'ORDER.RESET_FILTER' | translate }}
        </button>
        <button (click)="onFilterChange()" nbButton status="primary">
          <nb-icon icon="search-outline"></nb-icon>
          {{ 'COMMON.SEARCH' | translate }}
        </button>
      </div>
    </div>
    <ngx-datatable
      (page)="facade.onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.tableState.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="facade.tableState.params().count"
      [offset]="facade.tableState.params().page"
      [rows]="facade.tableState.page().content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="sku">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.SKU' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="quantity">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.QTY' |translate }}</ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            @if (!editing[rowIndex + '-quantity']) {
              <span
                (dblclick)="editing[rowIndex + '-quantity'] = true"
                title="Double click to edit"
              >
                {{ value }}
              </span>
            }
          @if (editing[rowIndex + '-quantity']) {
            <input (blur)="updateValue($event, 'quantity', rowIndex)"
                   [value]="value"
                   fieldSize="tiny" max="1000000" min="0" nbInput type="number"/>
          }
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="available">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.AVAILABLE' |translate }}
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <input (click)="updateValue($event,'available',rowIndex)" [checked]="value"
                 type="checkbox"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="price">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.PRICE' |translate }}</ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            @if (!editing[rowIndex + '-price']) {
              <span
                (dblclick)="editing[rowIndex + '-price'] = true"
                title="Double click to edit"
              >
                {{ value }}
              </span>
            }
          @if (editing[rowIndex + '-price']) {
            <input (blur)="updateValue($event, 'price', rowIndex)" [value]="value"
                   fieldSize="tiny" max="1000000" min="0" nbInput type="number"/>
          }
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="creationDate">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.CREATION_DATE' |translate }}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="facade.onEdit(row)" nbButton shape="round" size="small" status="primary">
            <nb-icon icon="edit"></nb-icon>
          </button>
          <button (click)="facade.onDelete(row)" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>

