<div class="inner_pages catalouge_create_page">

  <nb-card-header class="main_header">
    <h1 *ngIf="!catalog" class="page_title">{{ 'COMPONENTS.CREATE_CATALOGUE' | translate }}</h1>
    <h1 *ngIf="catalog" class="page_title">{{ 'COMPONENTS.CATALOGUE' | translate }} </h1>
    <div class="content_spacing">
      <button (click)="goToBack()" class="cancel_button" nbButton type="button">{{
          'ORDER_FORM.CANCEL'
            | translate
        }}
      </button>
    </div>
    <div class="content_spacing">
      <button (click)="save()" [nbSpinner]="loader" class="success_button" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
              type="button">{{ (!loader ? 'COMMON.SAVE' : '') | translate }}
      </button>
    </div>
  </nb-card-header>

  <!-- <div [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->

  <form [formGroup]='form' class="catalogueForm">
    <nb-card class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">

        <div class="form-group">
          <label class="col-sm-10 col-form-label inputLabel" for="code">{{ 'COMMON.CODE' | translate }} *</label>
          <div class="col-sm-12">
            <input (change)="checkCode($event)" [readOnly]="catalog?.id" class="form-control inputText" formControlName='code'
                   id="code" placeholder="{{ 'COMMON.CODE' | translate}}" required
                   type="text">
            <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message">
              <span *ngIf="code.errors.required">
                {{ 'COMMON.CODE_REQUIRED' | translate }}
              </span>
              <span *ngIf="code.errors.pattern">
                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
              </span>
            </div>
            <span *ngIf="!isCodeUnique" class="err-message">
              {{ 'COMMON.CODE_EXISTS' | translate }}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 group-block">
            <nb-checkbox formControlName='visible' status="success">
              {{ 'COMMON.VISIBLE' | translate }}
            </nb-checkbox>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="nodes.length !== 0" class="nb-card inline-form-card">
      <nb-card-body class="nb-card-body">
        <p>{{ 'CATALOG.CATALOG_CONTENT' | translate }}</p>
        <!--
              <tree-root #tree [nodes]="category" [options]="options" (moveNode)="onMoveNode($event)">
                  <ng-template #treeNodeTemplate let-node let-index="index">
                      <div>{{ node.description.name }}</div>
                  </ng-template>
              </tree-root>
            -->
      </nb-card-body>
    </nb-card>


  </form>
  <!-- </div> -->


</div>
