<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_DOMAIN' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select fullWidth [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{ item.title }}
          </nb-option>
        </nb-select>

      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]='form' (ngSubmit)="save()" class="mx-auto" style="max-width: 600px;">
      <div class="card border-0 shadow-sm rounded-3 p-4">
        <div class="form-group mb-4">
          <label for="inputDomain" class="form-label text-primary h6 mb-3">
            {{ 'STORE.STORE_DOMAIN' | translate }}
          </label>
          <input
            nbInput
            fullWidth
            id="inputDomain"
            formControlName="domain"
            class="form-control form-control-lg"
            placeholder="example.com"
            required
            type="text">
          <div *ngIf="isSubmited&&(domain.dirty || domain.touched) && domain.invalid && domain"
               class="invalid-feedback d-block mt-2">
            <span *ngIf="domain.errors.required" class="text-danger">
              {{ 'STORE.DOMAIN_REQUIRED' | translate }}
            </span>
            <span *ngIf="domain.errors.pattern" class="text-danger">
              {{ 'STORE.DOMAIN_PATTERN_INVALID' | translate }}
            </span>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button nbButton
                  status="primary"
                  class="text-uppercase fw-bold">
            {{ 'STORE.SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
    <hr class="my-4">
    <ngx-datatable
      (page)="setPage($event)"
      [columnMode]="ColumnMode.force"
      [count]="page.totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="page.size"
      [offset]="page.pageNumber"
      [rows]="rows"
      class="material"
      rowHeight="auto">


      <ngx-datatable-column name="domain">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'STORE.STORE_DOMAIN' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ generateDomain(row) }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="onDelete(row.domain)" nbButton shape="round" size="small" status="danger" *ngIf="row.domainType!='SUB_DOMAIN'">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </nb-card-body>
</nb-card>

