<nb-card class="page-card">
  <div *ngIf="loading" [nbSpinner]="loading" class="loading-block" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div>
  <nb-card-body *ngIf="!loading">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_DOMAIN' | translate }}</h1>
        <div class="content_spacing">
          <nb-select [(selected)]="selectedItem" outline shape="rectangle">
            <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{ item.title }}
            </nb-option>
          </nb-select>
        </div>

        <div class="content_spacing">

        </div>

      </nb-card-header>

     <div class="filter_section">
       <form class="form-inline " [formGroup]='form' (ngSubmit)="save()">
         <div class="filter_right_section">
           <div class="row">
             <div class="col-4">
               <label class="label inputLabel" for="inputDomain">
                 {{ 'STORE.ENTER_YOUR_DOMAIN' |translate }}
               </label>
             </div>
             <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group">
                 <input id="inputDomain" formControlName="domain" class="form-control inputText" placeholder="example.com" required type="text">
                 <div *ngIf="isSubmited&&(domain.dirty || domain.touched) && domain.invalid && domain" class="err-message">
                      <span *ngIf="domain.errors.required">
                        {{ 'COMMON.DOMAIN_REQUIRED' | translate }}
                      </span>
                   <span *ngIf="domain.errors.pattern">
                        {{ 'STORE.DOMAIN_PATTERN_INVALID' | translate }}
                      </span>
                 </div>

               </div>
             </div>
           </div>
           <div class="row p-2">
             <div class="col-4"></div>
             <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group">
                 <button nbButton status="primary">{{ 'STORE.SAVE' |translate }}</button>
               </div>
             </div>
           </div>
         </div>
       </form>
     </div>

      <ngx-datatable
        (page)="setPage($event)"
        [columnMode]="ColumnMode.force"
        [count]="page.totalElements"
        [externalPaging]="true"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="page.size"
        [offset]="page.pageNumber"
        [rows]="rows"
        class="material"
        rowHeight="auto">


        <ngx-datatable-column name="domain">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'STORE.STORE_DOMAIN' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.domain }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'ORDER.ACTIONS' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="onDelete(row.domain)" nbButton shape="round" size="small" status="danger">
              <i class="nb-trash"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </nb-card-body>
</nb-card>

