<div class="card">
  <div class="card-body p-9">
    <form (ngSubmit)="onSubmit()" [formGroup]="domainReferenceForm">
      <div class="row mt-4 justify-content-center">
        <div class="col-md-6 justify-content-center">
          <div class="tab-content mt-6 ">
            <div class="tab-pane active">
              <div [innerHTML]="errMessage" class="text-danger"></div>
              <div class="controls">
                <label class="d-block mb-1">
                  Domain
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group error validate">
                  <input type="text" class="form-control" placeholder="full domain" formControlName="domain">
                </div>
                <div class="help-block">
                  <div
                    *ngIf="domainReferenceForm.controls['domain'].invalid && (domainReferenceForm.controls['domain'].dirty || domainReferenceForm.controls['domain'].touched)"
                    class="text-danger">
                    <div *ngIf="domainReferenceForm.controls['domain'].errors?.['required']">
                      Domain is required.
                    </div>
                    <div *ngIf="domainReferenceForm.controls['domain'].errors?.['minlength']">
                      Domain is minLength.
                    </div>
                    <div *ngIf="domainReferenceForm.controls['domain'].errors?.['pattern']">
                      Domain is pattern.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-md-6 justify-content-center">
          <div class="tab-content mt-6 ">
            <div class="tab-pane active">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body p-4">
    <div class="table-responsive">
      <table class="table text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
        <tr>
          <th class="border-bottom-0">
            <h6 class="fw-semibold mb-0">Id</h6>
          </th>
          <th class="border-bottom-0">
            <h6 class="fw-semibold mb-0">Domain</h6>
          </th>
          <th class="border-bottom-0">
            <h6 class="fw-semibold mb-0">Reference</h6>
          </th>
          <th class="border-bottom-0">
            <h6 class="fw-semibold mb-0">Link</h6>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of customDomainReferences">
          <td class="border-bottom-0">
            <h6 class="fw-semibold mb-0">{{d.id}}</h6>
          </td>
          <td class="border-bottom-0">
            <h6 class="fw-semibold mb-1">{{d.domain}}</h6>
            <span class="fw-normal">{{d.domainType}}</span>
          </td>
          <td class="border-bottom-0">
            <p class="mb-0 fw-normal">{{d.reference}}</p>
          </td>
          <td class="border-bottom-0">
            <a href="{{'https://'+d.domain}}" class="mb-0 fw-normal"><i class="ti ti-dots fs-4">...</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
