<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [selected]="facade.selectedItem()" fullWidth outline shape="rectangle">
          @for (item of facade.sideMenuLinks; track item.id) {
            <nb-option (click)="facade.route(item.link)" [value]="item.id">{{ item.title }}
            </nb-option>
          }
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    @if (!facade.loader()) {
      <form [formGroup]='facade.form'>
        <nb-select formControlName='selectedLanguage' fullWidth outline placeholder="Language" shape="rectangle">
          @for (lan of facade.languages(); track lan) {
            <nb-option [value]="lan">{{
                ('LANG.' + lan) | translate
              }}
            </nb-option>
          }
        </nb-select>
        <input class="form-control " formControlName='code' fullWidth id="code" nbInput type="hidden">
        @if (facade.selectedLanguage.value !== '') {
          <div formArrayName='descriptions'>
            @for (descr of facade.descriptions.controls; track $index; let j = $index) {
              @if (descr.value.language === facade.selectedLanguage.value) {

                <div [formGroupName]="j">

                  <div class="form-group">
                    <label class="col-sm-10 " for="title">
                      {{ 'STORE_LANDING.LANDING_PAGE_TITLE' | translate }} *
                    </label>
                    <div class="col-sm-12">
                      <input class="form-control " formControlName='name' fullWidth id="title" nbInput
                             placeholder="Page title"
                             required type="text">
                      @if ((descr.get('name').dirty || descr.get('name').touched) && descr.get('name').invalid
                          && descr.get('name').errors.required) {
                        <span class="err-message">
                          {{ 'STORE_LANDING.LANDING_PAGE_TITLE' | translate }}
                        </span>
                      }
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-10  " for="metaDetails">{{ 'STORE_LANDING.TAG_DESCRIPTION' | translate }}</label>
                    <div class="col-sm-12">
                      <input class="form-control " formControlName='metaDescription' fullWidth id="metaDetails" nbInput
                             placeholder="{{ 'STORE_LANDING.TAG_DESCRIPTION' | translate}}"
                             type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-10  " for="landingText">{{ 'STORE_LANDING.LANDING_TEXT' | translate }}</label>
                    <div class="col-sm-12">
                      <quill-editor [styles]="{height: '200px'}" formControlName="description" id="landingText"/>
                    </div>
                  </div>

                </div>

              }
            }
          </div>
        }
      </form>
    }
  </nb-card-body>
</nb-card>
