<header class="app-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
      <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link nav-icon-hover" data-bs-toggle="dropdown" href="javascript:void(0)"
             id="drop2">
            <img alt="" class="rounded-circle" height="35" src="./assets/images/profile/user-1.jpg" width="35">
          </a>
          <div aria-labelledby="drop2" class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up">
            <div class="message-body">
              <a class="d-flex align-items-center gap-2 dropdown-item" routerLink="/in/profile">
                <i class="ti ti-user fs-6"></i>
                <p class="mb-0 fs-3">My Profile</p>
              </a>
            </div>
            <div class="message-body">
              <a class="d-flex align-items-center gap-2 dropdown-item" routerLink="/in/settings">
                <i class="ti ti-user fs-6"></i>
                <p class="mb-0 fs-3">Settings</p>
              </a>
            </div>
            <div class="message-body">
              <a (click)="goAccount()" class="d-flex align-items-center gap-2 dropdown-item" style="cursor: pointer;">
                <i class="ti ti-user fs-6"></i>
                <p class="mb-0 fs-3">Account</p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
