<div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">


  <nb-card class="page-card inner_pages">
    <nb-card-body class="product_function">
      <div class="inner_pages_legacy">
        <form [formGroup]='discountForm'>

          <div class="form-group">
            <nb-radio-group (valueChange)="discountSelected($event)" formControlName="discountedRadio"
                            name="discountedRadio">
              <nb-radio [value]="1" class="shipping-radio">{{
                  'PRICE.DISCOUNTED_PRICE'|translate
                }} - TBD
              </nb-radio>
            </nb-radio-group>
            <span *ngIf="discountForm.controls.discountedRadio.value==1">*</span>
          </div>
          <div [ngClass]="discountForm.controls.discountedRadio.value==1 ? 'discount': 'disabled-discount'">
            <input class="form-control inputText" formControlName='discountedPrice' id="discountedPrice" placeholder="{{ 'PRICE.DISCOUNTED_PRICE' | translate}}"
                   type="number">
          </div>


          <div class="form-group">
            <nb-radio-group (valueChange)="percentageSelected($event)" formControlName="percentageOffRadio"
                            name="percentageOffRadio">
              <nb-radio [value]="2" class="shipping-radio">{{
                  'PRICE.PERCENTAGE_OFF'|translate
                }}
              </nb-radio>
            </nb-radio-group>
            <span *ngIf="discountForm.controls.percentageOffRadio.value==2">*</span>
          </div>
          <div [ngClass]="discountForm.controls.percentageOffRadio.value==2 ? 'percentage': 'disabled-percentage'">
            <input class="form-control inputText" formControlName='percentageOff' id="percentageOff" placeholder="{{ 'PRICE.PERCENTAGE_OFF'|translate}}"
                   type="number">
          </div>

          <div class="form-group">
            <nb-radio-group (valueChange)="rebateSelected($event)" formControlName="rebateRadio" name="rebateRadio">
              <nb-radio [value]="3" class="shipping-radio">{{ 'PRICE.REBATE_PRICE'|translate }}</nb-radio>
            </nb-radio-group>
            <label *ngIf="discountForm.controls.rebateRadio.value==3"
                   [ngClass]="discountForm.controls.rebateRadio.value==3 && 'mandatory'">*</label>
          </div>
          <div [ngClass]="discountForm.controls.rebateRadio.value==3 ? 'rebate': 'disabled-rebate'">
            <input class="form-control inputText" formControlName='rebatePrice' id="rebatePrice" placeholder="{{ 'PRICE.REBATE_PRICE'|translate}}"
                   type="number">
          </div>
          <br/>
          <div class="form-group">
            <div>
              <nb-checkbox formControlName='timeBound'>
                {{ 'Time bound promotion' | translate }}
              </nb-checkbox>
            </div>
          </div>

          <div *ngIf="discountForm.controls.timeBound.value == true" class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-form-label inputLabel">{{ 'Start Date' | translate }}</label>
                <div>
                  <input [nbDatepicker]="formpicker2" [readOnly]="true"
                         class="form-control has-person-icon inputText"
                         formControlName='startDate' placeholder="Form Picker">
                  <nb-datepicker #formpicker2></nb-datepicker>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="col-form-label inputLabel">{{ 'End Date' | translate }}</label>
                <div>
                  <input [nbDatepicker]="formpicker1" [readOnly]="true"
                         class="form-control has-person-icon inputText"
                         formControlName='endDate' placeholder="Form Picker">
                  <nb-datepicker #formpicker1></nb-datepicker>
                </div>
              </div>
            </div>
          </div>
          <nb-card-header class="main_header">
            <div class="content_spacing">
              <button (click)="save()" [nbSpinner]="loading" class="success_button" nbButton nbSpinnerSize="large"
                      nbSpinnerStatus="control" type="button">
                {{ 'COMMON.SAVE' | translate }}
              </button>
            </div>
          </nb-card-header>
        </form>
      </div>
    </nb-card-body>
  </nb-card>


</div>
