<div class="inner_pages order_details">
  <nb-card-header *ngIf="orderDetailsData" class="main_header">
    <h1 class="page_title">
      {{ 'COMPONENTS.ORDERS' | translate }} {{ 'COMMON.ID' | translate }}
      {{ orderID }} - {{ orderDetailsData.orderStatus }}
    </h1>
    <div class="content_spacing">
      <div>
        <nb-select (selectedChange)="showDialog($event)" outline placeholder="{{'ORDER_FORM.MORE_OPTIONS' | translate}}"
                   shape="rectangle">
          <nb-option value="1">{{ 'ORDER_FORM.TRANSACTIONS_LIST' | translate }}</nb-option>
          <nb-option value="2">{{ 'ORDER_FORM.VIEW_INVOICE' | translate }}</nb-option>
          <nb-option value="3">{{ 'ORDER_FORM.HISTORY_LIST' | translate }}</nb-option>
        </nb-select>
      </div>
    </div>
    <div *ngIf="transactionType == 'REFUND'" class="content_spacing">
      <button (click)="onClickRefund()" class="refund_button" nbButton
              type="button">{{ 'ORDER_FORM.REFUND'|translate }}
      </button>
    </div>
    <div *ngIf="transactionType == 'CAPTURE'" class="content_spacing">
      <button (click)="onClickCapture()" class="capture_button" nbButton
              type="button">{{ 'ORDER_FORM.CAPTURE' |translate }}
      </button>
    </div>
    <div class="content_spacing">
      <button (click)="goToBack()" class="cancel_button" nbButton type="button">{{ 'ORDER_FORM.CANCEL'| translate }}
      </button>
    </div>
    <div class="content_spacing">
      <button (click)="updateOrder()" [disabled]="!orderForm.form.valid" class="success_button" nbButton
              type="button">{{ 'COMMON.SAVE'|translate }}
      </button>
    </div>
  </nb-card-header>
  <div [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div>
      <form #orderForm="ngForm" role="form">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">{{ 'ORDER_FORM.BILLING_INFO' | translate }}</nb-card-header>
              <nb-card-body class="nb-card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="billing_first_name">
                        {{ 'ORDER_FORM.FIRST_NAME' | translate }}
                        <span>*</span>
                      </label>
                      <input #firstName="ngModel" [(ngModel)]="billing.firstName" class="form-control inputText"
                             id="billing_first_name"
                             name="firstName" placeholder="{{'ORDER_FORM.FIRST_NAME' | translate}}" required type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="billing_last_name">
                        {{ 'ORDER_FORM.LAST_NAME' | translate }}
                        <span>*</span>
                      </label>
                      <input #lastName="ngModel" [(ngModel)]="billing.lastName" class="form-control inputText"
                             id="billing_last_name"
                             name="lastName" placeholder="{{'ORDER_FORM.LAST_NAME' | translate}}" required type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">
                        {{ 'ORDER_FORM.STREET_ADDRESS' | translate }}
                        <span>*</span>
                      </label>
                      <input #address="ngModel" [(ngModel)]="billing.address" class="form-control inputText"
                             id="billing_address"
                             name="address" placeholder="{{'ORDER_FORM.STREET_ADDRESS' | translate}}" required type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.CITY' | translate }}<span>*</span></label>
                      <input #city="ngModel" [(ngModel)]="billing.city" class="form-control inputText"
                             id="billing_city"
                             name="city" placeholder="{{'ORDER_FORM.CITY' | translate}}" required type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.COUNTRY' | translate }}<span>*</span></label>
                      <!-- <p-dropdown *ngIf="billingCountry.length" [options]="billingCountry" [(ngModel)]="billing.country"
                         name="country" filter="true" (onChange)="onBillingChange(billing.country, 1)" required>
                         <ng-template let-item pTemplate="selectedItem">{{billing.tempCountry}}</ng-template>
                         <ng-template let-country pTemplate="item">{{country.label}}</ng-template>
                         </p-dropdown> -->
                      <nb-select (selectedChange)="onBillingChange($event, 1)"
                                 *ngIf="billingCountry.length > 0"
                                 [(ngModel)]="billing.country" class="select_fields" name="country" outline
                                 placeholder="{{'ORDER_FORM.SELECT_COUNTRY' | translate}}"
                                 required shape="rectangle">
                        <nb-option *ngFor="let country of billingCountry" [value]="country.code">{{ country.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div *ngIf="billingStateData.length > 0" class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.STATE' | translate }}<span>*</span></label>
                      <!-- <p-dropdown [options]="billingStateData" [(ngModel)]="billing.zone" name="zone" filter="true"
                         (onChange)="onChangeStateBilling(billing.zone)">
                         <ng-template let-item pTemplate="selectedItem">{{billing.tempZone}}</ng-template>
                         <ng-template let-state pTemplate="item">{{state.label}}</ng-template>
                         </p-dropdown> -->
                      <nb-select [(ngModel)]="billing.zone" class="select_fields" name="zone"
                                 outline placeholder="{{'ORDER_FORM.SELECT_STATE' | translate}}" required shape="rectangle">
                        <nb-option *ngFor="let state of billingStateData" [value]="state.code">{{ state.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                    <div *ngIf="billingStateData.length == 0" class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.STATE' | translate }}<span>*</span></label>
                      <input [(ngModel)]="billing.zone" class="form-control inputText"
                             name="zone"
                             placeholder="{{'ORDER_FORM.ENTER_STATE' | translate}}" required type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.POSTAL_CODE' | translate }}<span>*</span></label>
                      <input #postalCode="ngModel" [(ngModel)]="
                                 billing.postalCode" class="form-control inputText"
                             id="billing_postal"
                             name="postalCode" placeholder="{{'ORDER_FORM.POSTAL_CODE' | translate}}" required
                             type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.EMAIL' | translate }}<span>*</span></label>
                      <input #email="ngModel" [(ngModel)]="info.emailAddress" class="form-control inputText"
                             id="billing_email"
                             name="emailAddress" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}"
                             placeholder="{{'ORDER_FORM.EMAIL' | translate}}"
                             required type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.PHONE_NUMBER' | translate }}<span>*</span></label>
                      <input #phone="ngModel" (keyup)="onPhoneChange()" [(ngModel)]="billing.phone" class="form-control inputText"
                             id="billing_phone" maxlength=14
                             minlength=10
                             name="billing_phone" placeholder="{{'ORDER_FORM.PHONE_NUMBER' | translate}}" required type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.ORDER_DATE' | translate }}<span>*</span></label>
                      <input #datePurchased="ngModel" [(ngModel)]="info.datePurchased" class="form-control inputText"
                             id="datePurchased"
                             name="datePurchased" placeholder="{{'ORDER_FORM.ORDER_DATE' | translate}}" required type="text">
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <nb-card class="nb-card inline-form-card">
              <nb-card-header class="nb-card-header">{{ 'ORDER_FORM.SHIPPING_INFO' | translate }}</nb-card-header>
              <nb-card-body class="nb-card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="shipping_first_name">
                        {{ 'ORDER_FORM.FIRST_NAME' |translate }}
                      </label>
                      <input #firstName="ngModel" [(ngModel)]="shipping.firstName" class="form-control inputText"
                             id="shipping_first_name"
                             name="shipping.firstName" placeholder="{{'ORDER_FORM.FIRST_NAME' | translate}}" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="shipping_last_name">
                        {{ 'ORDER_FORM.LAST_NAME' |translate }}
                      </label>
                      <input #lastName="ngModel" [(ngModel)]="shipping.lastName" class="form-control inputText"
                             id="shipping_last_name"
                             name="shipping.lastName" placeholder="{{'ORDER_FORM.LAST_NAME' | translate}}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="shipping_address">
                        {{ 'ORDER_FORM.STREET_ADDRESS' |translate }}
                      </label>
                      <input #address="ngModel" [(ngModel)]="shipping.address" class="form-control inputText"
                             id="shipping_address"
                             name="shipping.address" placeholder="{{'ORDER_FORM.STREET_ADDRESS' | translate}}" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel" for="shipping_city">
                        {{ 'ORDER_FORM.CITY' | translate }}
                      </label>
                      <input #city="ngModel" [(ngModel)]="shipping.city" class="form-control inputText"
                             id="shipping_city"
                             name="shipping.city" placeholder="{{'ORDER_FORM.CITY' | translate}}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.COUNTRY' | translate }}</label>
                      <nb-select (selectedChange)="onShippingChange($event, 1)"
                                 *ngIf="shippingCountry.length > 0"
                                 [(ngModel)]="shipping.country" class="select_fields" name="shipping.country"
                                 outline
                                 placeholder="{{'ORDER_FORM.SELECT_COUNTRY' | translate}}" shape="rectangle">
                        <nb-option *ngFor="let country of shippingCountry" [value]="country.code">{{
                            country.name
                          }}
                        </nb-option>
                      </nb-select>
                      <!-- <p-dropdown *ngIf="shippingCountry.length" [options]="shippingCountry" [(ngModel)]="shipping.country"
                         name="shipping.country" filter="true" (onChange)="onShippingChange(shipping.country, 1)">
                         <ng-template let-item pTemplate="selectedItem">{{shipping.tempCountry}}</ng-template>
                         <ng-template let-country pTemplate="item">{{country.label}}</ng-template>
                         </p-dropdown> -->
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div *ngIf="shippingStateData.length > 0" class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.STATE' | translate }}</label>
                      <!-- <p-dropdown [options]="shippingStateData" [(ngModel)]="shipping.zone" name="shipping.zone" filter="true"
                         (onChange)="onChangeStateShipping(shipping.zone)">
                         <ng-template let-item pTemplate="selectedItem">{{shipping.tempZone}}</ng-template>
                         <ng-template let-state pTemplate="item">{{state.label}}</ng-template>
                         </p-dropdown> -->
                      <nb-select [(ngModel)]="shipping.zone" class="select_fields" name="shipping.zone"
                                 outline placeholder="{{'ORDER_FORM.SELECT_STATE' | translate}}" shape="rectangle">
                        <nb-option *ngFor="let state of shippingStateData" [value]="state.code">{{ state.name }}
                        </nb-option>
                      </nb-select>
                    </div>
                    <div *ngIf="shippingStateData.length == 0" class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.STATE' | translate }}</label>
                      <input [(ngModel)]="shipping.zone" class="form-control inputText"
                             name="shipping.zone"
                             placeholder="{{'ORDER_FORM.ENTER_STATE' | translate}}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.POSTAL_CODE' | translate }}</label>
                      <input [(ngModel)]="shipping.postalCode" class="form-control inputText" id="shipping_postal"
                             name="shipping.postalCode"
                             placeholder="{{'ORDER_FORM.POSTAL_CODE' | translate}}" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label class="label inputLabel">{{ 'ORDER_FORM.PHONE_NUMBER' | translate }}<span>*</span></label>
                      <input (keyup)="onShippingPhoneChange()" [(ngModel)]="shipping.phone" class="form-control inputText"
                             id="shipping_phone"
                             maxlength=14 minlength=10
                             name="shipping_phone"
                             placeholder="{{'ORDER_FORM.PHONE_NUMBER' | translate}}" type="text">
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </form>
      <div *ngIf="orderDetailsData" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <div class="containerCenter">
              <div class="centerSec">
                <div class="tabelSec">
                  <table border="1">
                    <thead>
                    <tr>
                      <th>{{ 'ORDER_FORM.ITEM' | translate }}</th>
                      <th>{{ 'ORDER_FORM.QUANTITY' | translate }}</th>
                      <th>{{ 'ORDER_FORM.PRICE' | translate }}</th>
                      <th>{{ 'ORDER_FORM.TOTAL' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of orderDetailsData.products">
                      <td><span>{{ product.productName }} -</span><span class="blueTxt">{{ product.sku }}</span></td>
                      <td>{{ product.orderedQuantity }}</td>
                      <td class="boldTxt">{{ product.price }}</td>
                      <td class="boldTxt">{{ product.subTotal }}</td>
                    </tr>
                    <tr *ngFor="let total of orderDetailsData.totals">
                      <td></td>
                      <td colspan="2">{{ total.module }}</td>
                      <td class="boldTxt">US${{ total.value }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="statusSec">
                  <label class="terms">
                    {{ 'ORDER_FORM.TERMS_CONDITIONS' | translate }}:
                    <span class="boldTxt">{{ orderDetailsData.customerAgreed }}</span>
                  </label>
                  <label>{{ 'ORDER_FORM.PAYMENT_MODE' | translate }}</label>
                  <label class="boldTxt">
                    {{ orderDetailsData.paymentType }}-{{ orderDetailsData.paymentModule }}
                  </label>
                  <label class="status">{{ 'ORDER_FORM.SELECT_STATUS' | translate }}</label>
                  <nb-select *ngIf="billingCountry.length > 0" [(ngModel)]="statusFields.status"
                             name="status" outline placeholder="{{'ORDER_FORM.SELECT_STATUS' | translate}}" required shape="rectangle">
                    <nb-option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}
                    </nb-option>
                  </nb-select>
                </div>
                <div class="btnSec">
                  <label>{{ 'ORDER_FORM.STATUS_COMMENT' | translate }}</label>
                  <textarea [(ngModel)]="statusFields.comments" class="txtArea" cols="90" name="comments" required
                            rows="10">
                           </textarea>
                  <button (click)="updateHistory()" [disabled]="statusFields.comments == '' || statusFields.status == ''" class="success_button lastBtn" nbButton
                          type="button">
                    {{ 'ORDER_FORM.UPDATE_STATUS'| translate }}
                  </button>
                </div>
              </div>
            </div>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
