<div [nbSpinner]="facade.loading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
  <div *ngIf="!facade.loading()" class="inner_pages inventory_create_page tab-padding">
    <nb-card class="mainBody">
      <nb-card-body>
        <div class="form-group row">
          <label class="label col-sm-2 col-form-label" for="inputCategory">
            {{ 'COMPONENTS.PRODUCT_TO_CATEGORY_ADD' |translate }}
          </label>
          <div class="col-sm-8">
            <nb-select (selectedChange)="facade.onSelectionChange($event)" [selected]="facade.selectedItems()" fullWidth id="inputCategory"
                       multiple
                       placeholder="'...'"
                       status="info">
              <nb-option *ngFor="let o of facade.categories()" [value]="o.id">{{ o.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>
