<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORG' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="success" routerLink="/pages/org-management/create-org">
          <label>{{ 'COMPONENTS.CREATE_ORG' | translate }}</label>
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="onPageEvent($event)"
      [columnMode]="ColumnMode.force"
      [count]="page.totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="perPageSize"
      [offset]="page.pageNumber"
      [rows]="page.content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="CreatedDate">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'ORG_MANAGEMENT.CREATED_DATE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.createdDate }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email">
        <ng-template let-column="column"
                     ngx-datatable-header-template> {{ 'ORG_MANAGEMENT.CONTACT_EMAIL' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.email.email }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary">
            <nb-icon icon="edit"/>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>

