<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 *ngIf="action == 'save'" class="page_title">{{ 'CONTENT.ADD_PAGE_DETAILS' | translate }}</h1>
      <h1 *ngIf="action == 'edit'" class="page_title">{{ 'CONTENT.UPDATE_PAGE_DETAILS' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="save()" [nbSpinner]="loader" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="!loader" [formGroup]='form'>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card accent="info" status="control">
            <nb-card-header>
              {{ 'CONTENT.BASIC_DETAILS' | translate }}
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <nb-checkbox formControlName='visible'>
                      {{ 'CONTENT.VISIBLE' | translate }}
                    </nb-checkbox>
                    <!--<nb-checkbox [(ngModel)]="visible" name="visible">{{ 'CONTENT.VISIBLE' | translate}}</nb-checkbox>-->
                    <!--<nb-checkbox [(ngModel)]="linkToMenu" name="linkToMenu">{{ 'CONTENT.linkToMenu' | translate}}-->
                    <nb-checkbox formControlName='linkToMenu'>
                      {{ 'CONTENT.LINK_TO_MENU' | translate }}
                    </nb-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label " for="inputCode">{{ 'CONTENT.CODE' | translate }}
                      <span>*</span></label>
                    <input (focusout)="focusOutFunction($event)" class="form-control " formControlName='code' fullWidth
                           id="inputCode"
                           nbInput placeholder="Code" required
                           type="{{ 'CONTENT.CODE' | translate}}">
                    <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message">
                      <span *ngIf="code.errors.required">
                        {{ 'COMMON.CODE_REQUIRED' | translate }}
                      </span>
                      <span *ngIf="code.errors.pattern">
                        {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
                      </span>
                    </div>
                    <span *ngIf="isCodeExists" class="err-message">
                      {{ 'COMMON.CODE_EXISTS' | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label " for="inputOrder">{{ 'CONTENT.ORDER' | translate }}</label>
                    <input class="form-control " formControlName='order' fullWidth id="inputOrder" nbInput
                           placeholder="{{ 'CONTENT.ORDER' | translate}}"
                           type="number">
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <nb-card accent="info" status="control">
            <nb-card-header>
              {{ 'CONTENT.PAGE_CONTENT' | translate }} - {{ ('LANG.' + currentLanguage) |translate }}&nbsp;
              <nb-select *ngIf="languages.length" [selected]="defaultLanguage" fullWidth name='selectedLanguage'
                         outline
                         placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
                <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages"
                           [value]="language.code">
                  {{ ('LANG.' + language.code) |translate }}
                </nb-option>
              </nb-select>
            </nb-card-header>
            <nb-card-body>
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div [formGroupName]="j" class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="label " for="title">
                            {{ 'CONTENT.TITLE' | translate }}
                          </label>
                          <input class="form-control " formControlName="title" fullWidth id="title" nbInput
                                 placeholder="{{ 'CONTENT.TITLE' | translate}}"
                                 type="text">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="label " for="metaDescription">
                            {{ 'CONTENT.METATAG' |translate }}
                          </label>
                          <input class="form-control " formControlName="metaDescription" fullWidth id="metaDescription"
                                 nbInput
                                 placeholder="{{ 'CONTENT.METATAG' | translate}}"
                                 type="text">
                        </div>
                      </div>
                    </div>
                    <div [formGroupName]="j" class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="label " for="name">
                            {{ 'CONTENT.PAGE_NAME' |translate }}
                            <span>*</span>
                          </label>
                          <input (ngModelChange)="urlTitle($event, j)" class="form-control " formControlName="name" fullWidth
                                 id="name" nbInput
                                 placeholder="{{ 'CONTENT.PAGE_NAME' | translate}}"
                                 type="text">
                          <span
                            *ngIf="(descr.get('name').dirty || descr.get('name').touched) && descr.get('name').invalid && descr.get('name').errors.required"
                            class="err-message">
                            {{ 'DESCRIPTION_FORM.NAME_REQUIRED' | translate }}
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="label " for="friendlyUrl">
                            {{ 'CONTENT.FRIENDLY_URL' |translate }}
                            <span>*</span>
                          </label>
                          <input class="form-control " formControlName="friendlyUrl" fullWidth id="friendlyUrl" nbInput
                                 placeholder="{{ 'CONTENT.FRIENDLY_URL' | translate}}"
                                 type="text">
                          <span *ngIf="(descr.get('friendlyUrl').dirty || descr.get('friendlyUrl').touched)
                            && descr.get('friendlyUrl').invalid && descr.get('friendlyUrl').errors.required"
                                class="err-message">
                            {{ 'DESCRIPTION_FORM.FRIENDLY_URL_REQUIRED' | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card accent="info" status="control">
            <nb-card-header>{{ 'CONTENT.PAGE_CONTENT' | translate }}</nb-card-header>
            <nb-card-body>
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div [formGroupName]="j">
                      <quill-editor [styles]="{height: '200px'}" formControlName="description">
                      </quill-editor>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>



