<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.CONTENT_PAGES' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.addPages()" [disabled]="!facade.selectedStore()" nbButton status="success">
          <label>{{ 'CONTENT.CREATE_PAGE' | translate }}</label>
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="facade.tableState.isLoading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="facade.onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.tableState.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="facade.tableState.params().count"
      [offset]="facade.tableState.params().page"
      [rows]="facade.tableState.page().content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="code">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.CODE' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="facade.onCreate(row)" *ngIf="!row.id" nbButton shape="round" size="small" status="success">
            <nb-icon icon="external-link"></nb-icon>
          </button>
          <button (click)="facade.onEdit(row)" *ngIf="row.id" nbButton shape="round" size="small" status="primary">
            <nb-icon icon="edit"></nb-icon>
          </button>
          <button (click)="facade.onDelete(row)" *ngIf="row.id" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
