<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.CONTENT_PAGES' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="success" (click)="addPages()"
                [disabled]="params.store==undefined||params.store==''">
          <label>{{ 'CONTENT.CREATE_PAGE' | translate }}</label>
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="onPageEvent($event)"
      [columnMode]="ColumnMode.force"
      [count]="page.totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="perPageSize"
      [offset]="page.pageNumber"
      [rows]="page.content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="Id">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="code">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.CODE' |translate }}</ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="onCreate(row)" nbButton shape="round" size="small" status="success" *ngIf="!row.id">
            <nb-icon icon="external-link"></nb-icon>
          </button>
          <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary" *ngIf="row.id">
            <nb-icon icon="edit"></nb-icon>
          </button>
          <button (click)="onDelete(row)" nbButton shape="round" size="small" status="danger" *ngIf="row.id">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>

