<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORG' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [selected]="facade.selectedItem()" outline shape="rectangle">
          @for (item of facade.sidemenuLinks; track item.id) {
            <nb-option (click)="facade.route(item.link)" [value]="item.id">
              {{ item.title |translate }}
            </nb-option>
          }
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='facade.form'>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control inputText" formControlName='email' id="email"
                 placeholder="{{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="subscriptionPlan">
          {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}*
        </label>
        <div class="col-sm-12">
          <nb-select formControlName='subscriptionPlan' fullWidth
                     id="subscriptionPlan" placeholder=" {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}">
            @for (i of facade.subscriptionPlans(); track i) {
              <nb-option [value]="i">{{ i }}</nb-option>
            }
          </nb-select>


          @if ((facade.form.controls['subscriptionPlan'].dirty || facade.form.controls['subscriptionPlan'].touched) && facade.form.controls['subscriptionPlan'].invalid && facade.form.controls['subscriptionPlan']) {
            <span class="err-message">
              @if (facade.form.controls['subscriptionPlan'].errors.subscriptionPlan || facade.form.controls['subscriptionPlan'].errors.pattern) {
                <span>
                  {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_NOT_VALID' | translate }}
                </span>
              }
              @if (facade.form.controls['subscriptionPlan'].errors.required) {
                <span>
                  {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_REQUIRED' | translate }}
                </span>
              }
            </span>
          }
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

