<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORG' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">
            {{ item.title |translate }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="m-1" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button nbButton status="success" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="control"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control inputText" formControlName='email' id="email"
                 placeholder="{{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="subscriptionPlan">
          {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}*
        </label>
        <div class="col-sm-12">
          <nb-select fullWidth placeholder=" {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}"
                     formControlName='subscriptionPlan' id="subscriptionPlan">
            <nb-option *ngFor="let i of subscriptionPlans" [value]="i">{{ i }}</nb-option>
          </nb-select>


          <span
            *ngIf="(form.controls['subscriptionPlan'].dirty || form.controls['subscriptionPlan'].touched) && form.controls['subscriptionPlan'].invalid && form.controls['subscriptionPlan']"
            class="err-message">
              <span
                *ngIf="form.controls['subscriptionPlan'].errors.subscriptionPlan || form.controls['subscriptionPlan'].errors.pattern">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="form.controls['subscriptionPlan'].errors.required">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

