<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 *ngIf="facade.action() == 'save'" class="page_title">{{ 'CONTENT.ADD_BOX_DETAILS' | translate }}</h1>
      <h1 *ngIf="facade.action() == 'edit'" class="page_title">{{ 'CONTENT.UPDATE_BOX_DETAILS' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form #boxForm="ngForm" *ngIf="!facade.loader()" [formGroup]='facade.form' role="form">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card accent="info" status="control">
            <nb-card-header>{{ 'CONTENT.BASIC_DETAILS' | translate }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <nb-checkbox formControlName='visible'>{{ 'CONTENT.VISIBLE' | translate }}</nb-checkbox>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label " for="code">{{ 'CONTENT.CODE' | translate }} <span>*</span></label>
                    <div>
                      <input (change)="facade.checkCode($event)" [readOnly]="facade.uniqueCode()" class="form-control "
                             formControlName='code'
                             fullWidth
                             id="code"
                             nbInput placeholder="{{ 'COMMON.CODE' | translate}}"
                             required type="text">
                      <div *ngIf="(facade.code.dirty || facade.code.touched) && facade.code.invalid && facade.code" class="err-message">
                        <span *ngIf="facade.code.errors.required">
                          {{ 'COMMON.CODE_REQUIRED' | translate }}
                        </span>
                        <span *ngIf="facade.code.errors.pattern">
                          {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
                        </span>
                      </div>
                      <span *ngIf="facade.isCodeExists()" class="err-message">
                        {{ 'COMMON.CODE_EXISTS' | translate }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card accent="info" status="control">
            <nb-card-header>{{ 'CONTENT.PAGE_CONTENT' | translate }} - {{
                ('LANG.' +
                  facade.currentLanguage()) |translate
              }}&nbsp;
              <nb-select *ngIf="facade.languages().length" [selected]="facade.defaultLanguage()" fullWidth name='selectedLanguage'
                         outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
                <nb-option (click)="facade.selectLanguage(language.code)" *ngFor="let language of facade.languages()"
                           [value]="language.code">{{
                    ('LANG.' + language.code) |translate
                  }}
                </nb-option>
              </nb-select>
            </nb-card-header>
            <nb-card-body>
              <div *ngIf="facade.selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of facade.descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === facade.selectedLanguage.value">
                    <div [formGroupName]="j">
                      <div class="form-group">
                        <quill-editor [styles]="{height: '200px'}" formControlName="description"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>

  </nb-card-body>
</nb-card>
