<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>User</span>
    <span>{{ form.value.id }}</span>
    <div style="display: flex;gap: 1rem;">
      <button ghost nbButton routerLink="/home/users" status="basic">Cancel</button>
      <button (click)="submit()" nbButton status="primary">
        <nb-icon icon="plus" style="margin-right: 0.5rem"></nb-icon>
        Save
      </button>
    </div>
  </nb-card-header>
  <nb-card-body [formGroup]="form">

    <nb-tabset>

      <nb-tab tabTitle="General">
        <div class="row">
          <div class="col-md-4">
            <label>Username</label>
            <input formControlName="username" fullWidth nbInput/>
          </div>
          <div class="col-md-4">
            <label>Email</label>
            <input formControlName="email" fullWidth nbInput/>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <h6>Metadata</h6>
            <div *ngFor="let control of metadataForm.controls; let i = index" [formGroup]="getGroup(control)"
                 class="row mb-2 align-items-end">
              <div class="col-md-5">
                <label *ngIf="i === 0">Key</label>
                <input formControlName="key" fullWidth nbInput placeholder="Key"/>
              </div>
              <div class="col-md-5">
                <label *ngIf="i === 0">Value</label>
                <input formControlName="value" fullWidth nbInput placeholder="Value"/>
              </div>
              <div class="col-md-2">
                <button (click)="removeMetadata(i)" nbButton size="small" status="danger" type="button">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
              </div>
            </div>
            <button (click)="addMetadata()" class="mt-2" nbButton size="small" status="info" type="button">
              <nb-icon icon="plus-outline"></nb-icon>
              Add Property
            </button>
          </div>
        </div>
      </nb-tab>
      <nb-tab *ngIf="form.value.id" tabTitle="Roles">
        <div [formGroup]="rolesForm" class="row">
          <div class="col-md-4">
            <label>Roles</label>
            <nb-select formControlName="roles" fullWidth multiple placeholder="Select Roles">
              <nb-option *ngFor="let role of roles" [value]="role">{{ role }}</nb-option>
            </nb-select>
          </div>
          <div class="col-md-4">
            <label style="visibility: hidden; display: block">Assign Roles</label>
            <button (click)="assignRoles()" nbButton status="primary">Assign Roles</button>
          </div>
        </div>
      </nb-tab>
      <nb-tab *ngIf="form.value.id" tabTitle="Password">
        <div [formGroup]="passwordForm" class="row">
          <div class="col-md-4">
            <label>New Password</label>
            <input autocomplete="new-password" formControlName="password" fullWidth nbInput placeholder="New Password"
                   type="password"/>
          </div>
          <div class="col-md-4">
            <label style="visibility: hidden; display: block">Reset Password</label>
            <button (click)="resetPassword()" nbButton status="warning">Reset Password</button>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
