
  <!-- ***** Welcome Area Start ***** -->
  <app-welcome/>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** Counter Area Start ***** -->
<!--  <app-counter/>-->
  <!-- ***** Counter Area End ***** -->

  <!-- ***** Features Area Start ***** -->
  <app-features/>
  <!-- ***** Features Area End ***** -->

  <!-- ***** Service Area Start ***** -->
<!--  <app-service/>-->
  <!-- ***** Service Area End ***** -->

  <!-- ***** Discover Area Start ***** -->
<!--  <app-discover/>-->
  <!-- ***** Discover Area End ***** -->

  <!-- ***** Work Area Start ***** -->
<!--  <app-work/>-->
  <!-- ***** Work Area End ***** -->

  <!-- ***** Screenshots Area Start ***** -->
<!--  <app-screenshots/>-->

  <!-- ***** Screenshots Area End ***** -->

  <!-- ***** Review Area Start ***** -->
<!--  <app-review/>-->
  <!-- ***** Review Area End ***** -->

  <!-- ***** Price Plan Area Start ***** -->
  <app-pricing/>
  <!-- ***** Price Plan Area End ***** -->

  <!-- ***** FAQ Area Start ***** -->
<!--  <app-asked-questions/>-->
  <!-- ***** FAQ Area End ***** -->

  <!-- ***** Team Area Start ***** -->
<!--  <app-team/>-->
  <!-- ***** Team Area End ***** -->

  <!-- ***** Download Area Start ***** -->
<!--  <app-download/>-->
  <!-- ***** Download Area End ***** -->

  <!-- ***** Subscribe Area Start ***** -->
  <app-subscribe/>
  <!-- ***** Subscribe Area End ***** -->

  <!--====== Contact Area Start ======-->
  <app-contact/>

  <!--====== Contact Area End ======-->

  <!--====== Height Emulator Area Start ======-->
  <div class="height-emulator d-none d-lg-block"></div>
  <!--====== Height Emulator Area End ======-->


