{
	debug
	admin 0.0.0.0:2019

	log {
		format json
		level ERROR
	}

	on_demand_tls {
		ask {$ASK_TLS_URL}
	}
	storage s3 {
		bucket         {$S3_BUCKET_NAME}

        host           {$S3_ENDPOINT}
        access_key_id  {$AWS_ACCESS_KEY_ID}
        secret_key     {$AWS_SECRET_ACCESS_KEY}
	}
}

http:// {
	route {
		domain_lookup {
			lookup_url {$DOMAIN_LOOKUP_URL}
			cache_ttl  5m
		}

		reverse_proxy {$STORE_POD_GATEWAY}
	}
}

https:// {
	log
	tls {
		on_demand
	}

	route {
		domain_lookup {
			lookup_url {$DOMAIN_LOOKUP_URL}
		}

		reverse_proxy {$STORE_POD_GATEWAY}
	}
}
