{
	debug
	admin 0.0.0.0:2019

	log {
		format json
		level ERROR
	}

	storage s3 {
		bucket              {$CERT_BUCKET}
		region              {$CERT_BUCKET_REGION}
	}

	on_demand_tls {
		ask {$ASK_TLS_URL}
	}
}

http:// {
	log

	route {
		domain_lookup {
			lookup_url {$DOMAIN_LOOKUP_URL}
			cache_ttl  5m
		}

		reverse_proxy {$STORE_POD_GATEWAY}
	}
}

https:// {
	log

	tls {
		on_demand
	}

	route {
		domain_lookup {
			lookup_url {$DOMAIN_LOOKUP_URL}
		}

		reverse_proxy {$STORE_POD_GATEWAY}
	}
}
