<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'PRODUCT_GROUP.CREATE_PRODUCT_GROUP' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large"
                nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='facade.formService.form'>

      <div class="form-group row mb-3">
        <label class="col-sm-2 col-form-label" for="code">{{ 'COMMON.CODE' | translate }} *</label>
        <div class="col-sm-10">
          <input (blur)="facade.checkCode($event.target.value.trim())"
                 [status]="(facade.formService.code.dirty || facade.formService.code.touched) ? (facade.formService.code.invalid || !facade.isCodeUnique() ? 'danger' : 'success') : 'basic'"
                 formControlName='code'
                 fullWidth
                 id="code"
                 nbInput
                 placeholder="{{ 'COMMON.CODE' | translate}}"
                 required
                 type="text">
          @if ((facade.formService.code.dirty || facade.formService.code.touched) && (facade.formService.code.invalid || !facade.isCodeUnique())) {
            @if (facade.formService.code.errors?.['required']) {
              <p class="caption status-danger">
                {{ 'COMMON.CODE_REQUIRED' | translate }}
              </p>
            }
            @if (facade.formService.code.errors?.['pattern']) {
              <p class="caption status-danger">
                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
              </p>
            }
            @if (!facade.isCodeUnique() && !facade.formService.code.errors?.['required'] && !facade.formService.code.errors?.['pattern']) {
              <p class="caption status-danger">
                {{ 'COMMON.CODE_EXISTS' | translate }}
              </p>
            }
          }
        </div>
      </div>

      <div class="form-group row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <nb-checkbox formControlName='active'>
            {{ 'COMMON.VISIBLE' | translate }}
          </nb-checkbox>
        </div>
      </div>

      @if (facade.languages().length > 1) {
        <div class="form-group row mb-3">
          <span class="col-sm-2 col-form-label">{{ 'COMMON.LANGUAGE' | translate }}</span>
          <div class="col-sm-10">
            <nb-button-group>
              @for (lang of facade.languages(); track lang.code) {
                <button (click)="facade.selectLanguage(lang.code)"
                        [status]="facade.formService.languageTabStatus(lang.code)"
                        nbButton
                        type="button">
                  {{ lang.code | uppercase }}
                </button>
              }
            </nb-button-group>
          </div>
        </div>
      }

      <div formArrayName="descriptions">
        @for (desc of facade.formService.descriptions.controls; track $index; let i = $index) {
          @if (desc.get('language').value === facade.formService.selectedLanguage.value) {
            <div [formGroupName]="i">

              <div class="form-group row mb-3">
                <label [attr.for]="'name-' + i" class="col-sm-2 col-form-label">{{ 'CONTENT.NAME' | translate }} *</label>
                <div class="col-sm-10">
                  <input [id]="'name-' + i" [status]="facade.formService.descriptionNameStatus(i)" formControlName="name"
                         fullWidth
                         nbInput
                         placeholder="{{ 'CONTENT.NAME' | translate }}"
                         type="text">
                  @if (desc.get('name').touched && desc.get('name').errors?.['required']) {
                    <p class="caption status-danger">
                      {{ 'COMMON.NAME_REQUIRED' | translate }}
                    </p>
                  }
                </div>
              </div>

            </div>
          }
        }
      </div>

      <hr class="my-4">

      <h5 class="mb-3">{{ 'PRODUCT_GROUP.ADD_PRODUCTS' | translate }}</h5>

      <div class="form-group row mb-3">
        <label class="col-sm-4 col-form-label"
               for="product-autocomplete">{{ 'PRODUCT_GROUP.SEARCH_PRODUCT' | translate }}</label>
        <div class="col-sm-6">
          @if (facade.store()) {
            <ngx-product-auto-complete (productSelected)="facade.onItemSelect($event)"
                                       [disabled]="facade.uniqueCode() === undefined"
                                       [store]="facade.store()"/>
          }
        </div>
      </div>

    </form>
    <ngx-datatable
      (page)="facade.onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="50"
      [offset]="facade.page().pageNumber"
      [rows]="facade.rows()"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="name">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.NAME' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.sku }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="facade.onItemDeSelect(row)" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </nb-card-body>
</nb-card>
