<!--<ngx-back-button></ngx-back-button>-->
<nb-card class="page-card" size="small">
  <nb-card-header>
    {{ 'PRODUCT_ATTRIBUTES.OPTIONS_ATTRIBUTES' | translate }}
  </nb-card-header>
  <nb-card-body>
    <!-- <div *ngIf="loader" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary"></div> -->
    <form [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-10 col-form-label">{{ 'PRODUCT_ATTRIBUTES.ATTRIBUTE_NAME' | translate }}</label>
        <div class="col-sm-12">
          <p-dropdown *ngIf="options.length" [options]="options" filter="true" formControlName='attributeName'>
            <ng-template let-item pTemplate="selectedItem">{{ item.label }}</ng-template>
            <ng-template let-el pTemplate="item">{{ el.label }}</ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox formControlName='displayOnly' status="success">
            {{ 'PRODUCT_ATTRIBUTES.DISPLAY_ONLY' | translate }}
          </nb-checkbox>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-10 col-form-label">{{ 'PRODUCT_ATTRIBUTES.PRODUCT_OPTION' | translate }}</label>
        <div class="col-sm-12">
          <p-dropdown *ngIf="optionValues.length" [options]="optionValues" filter="true" formControlName='optionValue'>
            <ng-template let-item pTemplate="selectedItem">{{ item.label }}</ng-template>
            <ng-template let-el pTemplate="item">{{ el.label }}</ng-template>
          </p-dropdown>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-10 col-form-label" for="optionPrice">{{
            'PRODUCT_ATTRIBUTES.OPTION_PRICE' |
              translate
          }}</label>
        <div class="col-sm-12">
          <input class="form-control" formControlName='optionPrice' id="optionPrice" placeholder="{{ 'PRODUCT.QUANTITY' | translate}}"
                 required type="number">
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-10 col-form-label" for="order">{{ 'COMMON.ORDER' | translate }}</label>
        <div class="col-sm-12">
          <input class="form-control" formControlName='order' id="order" placeholder="{{ 'PRODUCT.QUANTITY' | translate}}"
                 required type="number">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox formControlName='defaultOption' status="success">
            {{ 'PRODUCT_ATTRIBUTES.DEFAULT_OPTION' | translate }}
          </nb-checkbox>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12 group-block">
          <nb-checkbox formControlName='requiredOption' status="success">
            {{ 'PRODUCT_ATTRIBUTES.REQUIRED_OPTION' | translate }}
          </nb-checkbox>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-10 col-form-label" for="additionalWeight">{{
            'PRODUCT_ATTRIBUTES.ADDITIONAL_WEIGHT' |
              translate
          }}</label>
        <div class="col-sm-12">
          <input class="form-control" formControlName='additionalWeight' id="additionalWeight" placeholder="additionalWeight"
                 required type="number">
        </div>
      </div>

      <hr/>

      <div class="form-group actions-button">
        <button (click)="save()" [nbSpinner]="loader" class="btn btn-primary" nbSpinnerSize="large"
                nbSpinnerStatus="control" type="submit">{{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>
      </div>

    </form>
  </nb-card-body>
</nb-card>
