<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_PAYMENT_CONFIGURATION' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [(selected)]="selectedItem" fullWidth outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{ item.title }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button (click)="save()" nbButton status="success"
                type="submit">
          {{ 'COMMON.SAVE'  | translate }}
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="save()" *ngIf="form" [formGroup]="form">
      <div formArrayName="configs">
        <div *ngFor="let config of configForms.controls; let i=index" [formGroupName]="i" class="provider-config mb-4">
          <h6>{{ config.value.paymentType }}</h6>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">{{ 'STORE.PAYMENT_API_KEY' | translate }}</label>
                <input formControlName="apiKey" fullWidth nbInput type="text">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">{{ 'STORE.PAYMENT_SECRET_KEY' | translate }}</label>
                <input formControlName="secretKey" fullWidth nbInput type="password">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">{{ 'STORE.PAYMENT_WEBHOOK_SECRET' | translate }}</label>
                <input formControlName="webhookSecret" fullWidth nbInput type="password">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <nb-checkbox formControlName="enabled" style="margin-top: 2rem;">{{ 'STORE.PAYMENT_ENABLED' | translate }}</nb-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
