<!--
<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <h5 class="card-title fw-semibold">Stores Settings</h5>
        </div>
        <div>
            <form (ngSubmit)="onSubmit()" [formGroup]="storeForm">
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-6 justify-content-center">
                        <div class="tab-content mt-6 ">
                            <div class="tab-pane active">
                                <div class="controls">
                                    <label class="d-block mb-1">
                                        Store
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group error validate">
                                        <input class="form-control" formControlName="name" placeholder="Name"
                                               type="text">
                                    </div>
                                    <div class="help-block">
                                        <div
                                                *ngIf="storeForm.controls['name'].invalid && (storeForm.controls['name'].dirty || storeForm.controls['name'].touched)"
                                                class="text-danger">
                                            <div *ngIf="storeForm.controls['name'].errors?.['required']">
                                                Name is required.
                                            </div>
                                            <div *ngIf="storeForm.controls['name'].errors?.['minlength']">
                                                Name is minLength.
                                            </div>
                                            <div *ngIf="storeForm.controls['name'].errors?.['pattern']">
                                                Name is pattern.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-6 justify-content-center">
                        <div class="tab-content mt-6 ">
                            <div class="tab-pane active">
                                <button class="btn btn-primary w-100" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Store Name</h6>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let d of stores">
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">
                                {{ d.name }}
                            </h6>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


-->
