<section class="section faq-area style-two ptb_100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2 class="text-capitalize">{{title}}</h2>
          <p class="d-none d-sm-block mt-4">{{desc}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <!-- FAQ Content -->
        <div class="faq-content">
          <!-- Cvhome Accordion -->
          <div class="accordion" id="Cvhome-accordion">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <div  *ngFor="let q of questions" class="card border-0">
                  <!-- Card Header -->
                  <div *ngIf="q.location=='LEFT'" class="card-header bg-inherit border-0 p-0">
                    <h2 class="mb-0">
                      <button class="btn px-0 py-3" type="button">
                        {{q.question}}
                      </button>
                    </h2>
                  </div>
                  <!-- Card Body -->
                  <div *ngIf="q.location=='LEFT'" class="card-body px-0 py-3">
                    {{q.answer}}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div  *ngFor="let q of questions" class="card border-0">
                  <!-- Card Header -->
                  <div *ngIf="q.location=='RIGHT'" class="card-header bg-inherit border-0 p-0">
                    <h2 class="mb-0">
                      <button class="btn px-0 py-3" type="button">
                        {{q.question}}
                      </button>
                    </h2>
                  </div>
                  <!-- Card Body -->
                  <div *ngIf="q.location=='RIGHT'"  class="card-body px-0 py-3">
                    {{q.answer}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <p class="text-body text-center pt-4 px-3 fw-5">Haven't find suitable answer? <a href="#">Tell us what
                you need.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
