<nb-card class="page-card">
  <div *ngIf="loading" [nbSpinner]="loading" class="loading-block" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div>
  <nb-card-body *ngIf="!loading" class="productsGroupList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate }}</h1>
        <div class="content_spacing">
          <nb-select *ngIf="groups.length" outline placeholder="{{ 'PRODUCT_GROUP.SELECT_PRODUCT_GROUP' | translate}}"
                     shape="rectangle">
            <nb-option (click)="selectGroup(group.code)" *ngFor="let group of groups" [value]="group.code">
              {{ group.code }}
            </nb-option>
          </nb-select>
        </div>
        <button class="btn submit_button" type="submit">{{ 'PRODUCT_GROUP.CREATE_PRODUCT_GROUP' | translate }}</button>

      </nb-card-header>
    </div>
    <p-pickList (onMoveAllToSource)="moveEvent($event, 'allToSource')" (onMoveAllToTarget)="moveEvent($event, 'allToTarget')"
                (onMoveToSource)="moveEvent($event, 'toSource')" (onMoveToTarget)="moveEvent($event, 'toTarget')" [disabled]="!selectedGroup" [responsive]="true"
                [showSourceControls]="false"
                [showTargetControls]="false" [source]="availableList"
                [target]="selectedList"
                dragdrop="true" filterBy="code"
                sourceFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
                sourceHeader="{{ 'COMMON.AVAILABLE' | translate}}"
                targetFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
                targetHeader="{{ 'COMMON.SELECTED' | translate}}">
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix item-picklist">
          <div>{{ item?.id }}</div>
          <div>{{ item?.description?.name }}</div>
        </div>
      </ng-template>
    </p-pickList>
  </nb-card-body>
</nb-card>
