<div class="image-container">
  <div *ngIf="image.url" class="image-item">
    <img [src]="image.url" alt="Image" height="200" width="auto">
    <span><i (click)="removeImage()" class="fas fa-trash-alt"></i></span>
  </div>
</div>

<input #imageInput (change)='onSelectFile($event)' accept="image/jpeg,image/gif,image/png,image/jpg," id="imageInput" name="file"
       type="file"/>
<div class="image-actions">
  <button (click)='imageInput.click()' nbButton outline size="small">{{ 'COMMON.ADD_IMAGE' | translate }}</button>
</div>
