<div class="header-container">
  <div>
    <a (click)="toggleSidebar()" class="sidebar-toggle" href="#">
      <nb-icon icon="bars"/>
    </a>
    <a (click)="navigateHome()" class="logo" href="">seller-ui</a>
  </div>
</div>

<div class="header-container">
  <nb-select (selectedChange)="onStoreChange($event)" [disabled]="facade.isStoreSelectDisabled()"
             [selected]="facade.selectedStoreId()"
             class="m-1" placeholder="Select Store" shape="semi-round" size="medium">
    @for (s of facade.stores(); track s.id) {
      <nb-option [value]="s.id">{{ s.name }}</nb-option>
    }
  </nb-select>
  <nb-select (selectedChange)="onLanguageChange($event)" [selected]="facade.currentLanguage()" class="m-1" shape="semi-round"
             size="medium"
             status="primary">
    @for (l of facade.languages; track l) {
      <nb-option [value]="l"> {{ l }}</nb-option>
    }
  </nb-select>
  <nb-actions size="small">
    <nb-action>
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action icon="inbox"></nb-action>
    <nb-action icon="bell"></nb-action>
    <nb-action>
      <nb-user [name]="facade.user()?.preferred_username"
               [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
