<section class="section work-area bg-overlay overflow-hidden ptb_100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <!-- Work Content -->
        <div class="work-content text-center">
          <h2 class="text-white">How Cvhome works?</h2>
          <p class="d-none d-sm-block text-white my-3 mt-sm-4 mb-sm-5">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores
            sit.</p>
          <p class="d-block d-sm-none text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Laborum obcaecati.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <!-- Single Work -->
        <div class="single-work text-center p-3">
          <!-- Work Icon -->
          <div class="work-icon">
            <img class="avatar-md" src="img/icon/work/download.png" alt="">
          </div>
          <h3 class="text-white py-3">Install the App</h3>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis
            enim incidunt obcaecati?</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <!-- Single Work -->
        <div class="single-work text-center p-3">
          <!-- Work Icon -->
          <div class="work-icon">
            <img class="avatar-md" src="img/icon/work/settings.png" alt="">
          </div>
          <h3 class="text-white py-3">Setup your profile</h3>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis
            enim incidunt obcaecati?</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <!-- Single Work -->
        <div class="single-work text-center p-3">
          <!-- Work Icon -->
          <div class="work-icon">
            <img class="avatar-md" src="img/icon/work/app.png" alt="">
          </div>
          <h3 class="text-white py-3">Enjoy the features!</h3>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius saepe, voluptates quis
            enim incidunt obcaecati?</p>
        </div>
      </div>
    </div>
  </div>
</section>
