<div class="duration-container">
  <div class="duration-field">
    <label>Days</label>
    <input (ngModelChange)="update()" [(ngModel)]="days" fieldSize="small" min="0" nbInput placeholder="D"
           type="number">
  </div>
  <div class="duration-field">
    <label>Hours</label>
    <input (ngModelChange)="update()" [(ngModel)]="hours" fieldSize="small" min="0" nbInput placeholder="H"
           type="number">
  </div>
  <div class="duration-field">
    <label>Minutes</label>
    <input (ngModelChange)="update()" [(ngModel)]="minutes" fieldSize="small" min="0" nbInput placeholder="M"
           type="number">
  </div>
  <div class="duration-field">
    <label>Seconds</label>
    <input (ngModelChange)="update()" [(ngModel)]="seconds" fieldSize="small" min="0" nbInput placeholder="S"
           type="number">
  </div>
</div>
