<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [selected]="facade.selectedItem()" fullWidth outline shape="rectangle">
          <nb-option (click)="facade.route(item.link)" *ngFor="let item of facade.sideMenuLinks" [value]="item.id">{{ item.title }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-store-branding-logo *ngIf="facade.store()" [store]="facade.store()"/>
    <ngx-store-branding-banner *ngIf="facade.store()" [store]="facade.store()"/>
  </nb-card-body>
</nb-card>
