<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" class="categoryList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CATEGORIES' | translate }}</h1>
        <div class="content_spacing_empty"></div>
      </nb-card-header>
      <form class="form-inline filter_section">
        <div class="filter_left_section">
        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>
          <a (click)="createCategory()" class="createBtn">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'COMPONENTS.CREATE_OPTION' | translate}}">
            <label>{{ 'COMPONENTS.CREATE_CATEGORY' | translate }}</label>
          </a>
        </div>
      </form>
      <ngx-datatable
        (page)="setPage($event)"
        [columnMode]="ColumnMode.force"
        [count]="page.totalElements"
        [externalPaging]="true"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="page.size"
        [offset]="page.pageNumber"
        [rows]="rows"
        class="material"
        rowHeight="auto">

        <ngx-datatable-column name="Id">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'CATEGORY.CATEGORY_NAME' |translate }}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="code">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.CODE' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="parent">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'CATEGORY.PARENT' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.parent ? row.parent.code : 'root' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="visible">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.VISIBLE' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ngx-categories-visibility [rowData]="row" [store]="row.store"
                                       [value]="row.visible"></ngx-categories-visibility>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'ORDER.ACTIONS' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary"><i class="nb-edit"></i>
            </button>
            <button (click)="onDelete(row)" nbButton shape="round" size="small" status="danger"><i class="nb-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>


    </div>
  </nb-card-body>
</nb-card>
