<div class="contact-box bg-white text-center rounded p-4 p-sm-5 mt-5 mt-lg-0 shadow-lg">
  <!-- Contact Form -->
  <form id="contact-form">
    <div class="contact-top">
      <h3 class="contact-title">{{title}}</h3>
      <h5 class="text-secondary fw-3 py-2">
        {{desc}}
      </h5>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
            </div>
            <input type="text" class="form-control" name="name" placeholder="Name" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
            </div>
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Password"
                   required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input type="text" class="form-control" name="phone" placeholder="Phone" required="required">
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label contact-bottom" for="exampleCheck1">
            <span class="d-inline-block mt-3">
              By signing up, you accept our
              <a [routerLink]="['/terms']">Terms</a> &amp; <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
            </span>
          </label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-bordered w-100 mt-3" type="submit" (click)="signUp()">Sign Up</button>
      </div>
      <div class="col-12">
        <span class="d-block pt-2 mt-4 border-top">Already have an account? <a [href]="signInUrl">Sign In</a></span>
      </div>
    </div>
  </form>
  <p class="form-message"></p>
</div>
