<section class="section features-area style-two overflow-hidden ptb_100" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <!-- Section Heading -->
        <div class="section-heading text-center">
                            <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                                <i class="far fa-lightbulb text-primary mr-1"></i>
                                <span class="text-primary">Premium</span>
                                Features
                            </span>
          <h2>{{ title }}</h2>
          <p class="d-none d-sm-block mt-4">{{ desc }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      @for (f of features; track f.title) {
        <div class="col-12 col-md-6 col-lg-4 res-margin">
          <!-- Image Box -->
          <div [ngClass]="f.fade" class="image-box text-center icon-1 p-5 wow" data-wow-delay="0.4s">
            <!-- Featured Image -->
            <div class="featured-img mb-3">
              <img [src]="f.img" alt="" class="avatar-sm">
            </div>
            <!-- Icon Text -->
            <div class="icon-text">
              <h3 class="mb-2">{{ f.title }}</h3>
              <p>{{ f.desc }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>







