<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" class="product_price" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <!-- <nb-card-header class="main_header">
          <h1 class="page_title">{{product?.description.name}}</h1>
          <div class="content_spacing_empty"></div>

        </nb-card-header> -->

      <form class="form-inline filter_section">


        <div class="filter_right_section">

          <a [routerLink]="['/pages/catalogue/products/'+ params.productId +'/inventory/'+params.inventoryId+'/create-price']"
             class="createBtn ">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'INVENTORY.ADD_PRICE' | translate}}">
            <label>{{ 'INVENTORY.ADD_PRICE' | translate }}</label></a>
        </div>

      </form>

      <ng2-smart-table (custom)="route($event)" [settings]="settings" [source]="source" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [count]="totalCount" [currentPage]="currentPage" [pagesToShow]="5"
                     [perPage]="perPage">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>
