<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.USERS' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="success" (click)="createUser()"
                [disabled]="params.store==undefined||params.store==''">
          <label>{{ 'COMPONENTS.CREATE_USER' | translate }}</label>
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="onPageEvent($event)"
      [columnMode]="ColumnMode.force"
      [count]="page.totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="page.size"
      [offset]="page.pageNumber"
      [rows]="page.content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="userName">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'USER_FORM.USER_NAME' |translate }}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="emailAddress">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'USER_FORM.EMAIL_ADDRESS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.emailAddress }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="active">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ACTIVE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <ngx-user-status [store]="params.store" [rowData]="row"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary">
            <nb-icon icon="edit"/>
          </button>
          <button (click)="onDelete(row)" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"/>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
