<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.USERS' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.createUser()" [disabled]="!facade.store()" nbButton
                status="success">
          <span>{{ 'COMPONENTS.CREATE_USER' | translate }}</span>
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="facade.tableState.isLoading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="facade.onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.tableState.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="facade.tableState.params().count"
      [offset]="facade.tableState.params().page"
      [rows]="facade.tableState.page().content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="userName">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'USER_FORM.USER_NAME' |translate }}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{ value }}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="emailAddress">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'USER_FORM.EMAIL_ADDRESS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.emailAddress }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="active">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ACTIVE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <ngx-user-status [rowData]="row" [store]="facade.store()"/>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="facade.onEdit(row)" nbButton shape="round" size="small" status="primary">
            <nb-icon icon="edit"/>
          </button>
          <button (click)="facade.onDelete(row)" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"/>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
