{
	debug
	admin 0.0.0.0:2019

	log {
		format json
		level ERROR
	}

	storage s3 {
		bucket              {$CERT_BUCKET}
		region              {$CERT_BUCKET_REGION}
	}

	on_demand_tls {
		ask {$ASK_TLS_URL}
	}
    
    acme_ca {$ACME_CA_URL:https://acme-staging-v02.api.letsencrypt.org/directory}

    
}

(routes) {

    handle_path /merchant* {
        reverse_proxy http://merchant.{$NAMESPACE}:8120
    }

    handle_path /content* {
        reverse_proxy http://content.{$NAMESPACE}:8121
    }

    handle_path /catalog* {
        reverse_proxy http://catalog.{$NAMESPACE}:8122
    }

    handle_path /order* {
        reverse_proxy http://order.{$NAMESPACE}:8123
    }

    handle_path /merchant-ui* {
        reverse_proxy http://merchant-ui.{$NAMESPACE}:8111
    }


    route {
        domain_lookup {
            lookup_url {$DOMAIN_LOOKUP_URL}
            cache_ttl  5m
        }

        reverse_proxy http://landing-ui.{$NAMESPACE}:8110
    }
    
}

http:// {
	log
    import routes
}

https:// {
	log

	tls {
		on_demand
	}

    import routes
}
