<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.ORG' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='facade.form'>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="firstName">
          {{ 'ORG_FORM.FIRST_NAME' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='firstName' fullWidth id="firstName" nbInput
                 placeholder="{{ 'ORG_FORM.FIRST_NAME' | translate }}" required type="text">
          <span
            *ngIf="(facade.form.controls['user'].get('firstName').dirty || facade.form.controls['user'].get('firstName').touched) && facade.form.controls['user'].get('firstName').invalid && facade.form.controls['user'].get('firstName')"
            class="err-message">
              <span *ngIf="facade.form.controls['user'].get('firstName').errors.required">
                {{ 'ORG_FORM.FIRST_NAME_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="lastName">
          {{ 'ORG_FORM.LAST_NAME' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='lastName' fullWidth id="lastName" nbInput
                 placeholder="{{ 'ORG_FORM.LAST_NAME' | translate }}" required type="text">
          <span
            *ngIf="(facade.form.controls['user'].get('lastName').dirty || facade.form.controls['user'].get('lastName').touched) && facade.form.controls['user'].get('lastName').invalid && facade.form.controls['user'].get('lastName')"
            class="err-message">
              <span *ngIf="facade.form.controls['user'].get('lastName').errors.required">
                {{ 'ORG_FORM.LAST_NAME_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='emailAddress' fullWidth id="email" nbInput
                 placeholder="{{ 'ORG_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
          <span
            *ngIf="(facade.form.controls['user'].get('emailAddress').dirty || facade.form.controls['user'].get('emailAddress').touched) && facade.form.controls['user'].get('emailAddress').invalid && facade.form.controls['user'].get('emailAddress')"
            class="err-message">
              <span
                *ngIf="facade.form.controls['user'].get('emailAddress').errors.email || facade.form.controls['user'].get('emailAddress').errors.pattern">
                {{ 'ORG_FORM.EMAIL_ADDRESS_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="facade.form.controls['user'].get('emailAddress').errors.required">
                {{ 'ORG_FORM.EMAIL_ADDRESS_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>

      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="password">
          {{ 'COMMON.PASSWORD' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='password' fullWidth id="password" nbInput
                 placeholder="{{ 'COMMON.PASSWORD' | translate }}"
                 required type="password">
          <span
            *ngIf="(facade.form.controls['user'].get('password').dirty || facade.form.controls['user'].get('password').touched) && facade.form.controls['user'].get('password').invalid && facade.form.controls['user'].get('password')"
            class="err-message">
              <span *ngIf="facade.form.controls['user'].get('password').errors.required">
                {{ 'ORG_FORM.PASSWORD_ERROR_REQUIRED' | translate }}
              </span>
              <span *ngIf="facade.form.controls['user'].get('password').errors.pattern">
                {{ 'ORG_FORM.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                {{ 'ORG_FORM.PASSWORD_ERROR_RULES' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group" formGroupName="user">
        <label class="col-sm-3 col-form-label " for="password">
          Repeat Password *
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='repeatPassword' fullWidth id="repeatPassword" nbInput
                 placeholder="Repeat Password"
                 required type="password">
          <span
            *ngIf="(facade.form.controls['user'].get('repeatPassword').dirty || facade.form.controls['user'].get('repeatPassword').touched) && facade.form.controls['user'].get('repeatPassword').invalid && facade.form.controls['user'].get('repeatPassword')"
            class="err-message">
              <span *ngIf="facade.form.controls['user'].get('repeatPassword').errors.required">
                {{ 'ORG_FORM.PASSWORD_ERROR_REQUIRED' | translate }}<br/>
              </span>

            </span>
          <span *ngIf="facade.form.hasError('notSame')" class="err-message">
              <span>
                {{ 'ORG_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="subscriptionPlan">
          {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}*
        </label>
        <div class="col-sm-12">

          <nb-select formControlName='subscriptionPlan'
                     id="subscriptionPlan" placeholder=" {{ 'ORG_FORM.SUBSCRIPTION_PLAN' | translate }}">
            <nb-option *ngFor="let i of facade.subscriptionPlans()" [value]="i">{{ i }}</nb-option>
          </nb-select>


          <span
            *ngIf="(facade.form.controls['subscriptionPlan'].dirty || facade.form.controls['subscriptionPlan'].touched) && facade.form.controls['subscriptionPlan'].invalid && facade.form.controls['subscriptionPlan']"
            class="err-message">
              <span
                *ngIf="facade.form.controls['subscriptionPlan'].errors.subscriptionPlan || facade.form.controls['subscriptionPlan'].errors.pattern">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="facade.form.controls['subscriptionPlan'].errors.required">
                {{ 'ORG_FORM.SUBSCRIPTION_PLAN_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
