<nb-card>
  <nb-card-header>
    <h2 class="title">404 {{ 'NOT_FOUND.PAGE_NOT_FOUND' | translate }}</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="flex-centered">
      <div class="row">
        <h6 class="title">{{ 'NOT_FOUND.PAGE_NOT_FOUND_TEXT' | translate }}</h6>
      </div>
      <div class="row p-3">
        <button nbButton size="large" (click)="goToHome()" type="button" status="primary">
          {{ 'NOT_FOUND.BACK' | translate }}
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
