<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.PAYMENTS' | translate }}</h1>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="facade.tableState.isLoading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="filter-section">
      <div class="row">
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="bookmark-outline" nbPrefix></nb-icon>
            <nb-select [(ngModel)]="filter.status" fullWidth placeholder="{{ 'TRANSACTION.FILTER_STATUS' | translate }}">
              <nb-option value="">{{ 'TRANSACTION.FILTER_STATUS' | translate }}</nb-option>
              @for (status of facade.paymentStatuses(); track status) {
                <nb-option [value]="status">
                  {{ 'TRANSACTION.STATUS_' + status | translate }}
                </nb-option>
              }
            </nb-select>
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="credit-card-outline" nbPrefix></nb-icon>
            <nb-select [(ngModel)]="filter.paymentType" fullWidth placeholder="{{ 'TRANSACTION.FILTER_PAYMENT_TYPE' | translate }}">
              <nb-option value="">{{ 'TRANSACTION.FILTER_PAYMENT_TYPE' | translate }}</nb-option>
              @for (type of facade.paymentTypes(); track type) {
                <nb-option [value]="type">
                  {{ 'TRANSACTION.PAYMENT_TYPE_' + type | translate }}
                </nb-option>
              }
            </nb-select>
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="hash-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.requestRef" fullWidth nbInput
                   placeholder="{{ 'TRANSACTION.FILTER_REQUEST_REF' | translate }}" type="text">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="hash-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.internalRef" fullWidth nbInput
                   placeholder="{{ 'TRANSACTION.FILTER_INTERNAL_REF' | translate }}" type="text">
          </nb-form-field>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="calendar-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.transactionDateFrom" fullWidth nbInput
                   placeholder="{{ 'TRANSACTION.FILTER_DATE_FROM' | translate }}" type="date">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <nb-form-field>
            <nb-icon icon="calendar-outline" nbPrefix></nb-icon>
            <input [(ngModel)]="filter.transactionDateTo" fullWidth nbInput
                   placeholder="{{ 'TRANSACTION.FILTER_DATE_TO' | translate }}" type="date">
          </nb-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-12 d-flex justify-content-end">
        <button (click)="resetFilters()" class="mr-2" nbButton outline status="danger">
          <nb-icon icon="refresh-outline"></nb-icon>
          {{ 'TRANSACTION.RESET_FILTER' | translate }}
        </button>
        <button (click)="onFilterChange()" nbButton status="primary">
          <nb-icon icon="search-outline"></nb-icon>
          {{ 'COMMON.SEARCH' | translate }}
        </button>
      </div>
    </div>
    <ngx-datatable
      (page)="onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.tableState.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="facade.tableState.params().count"
      [offset]="facade.tableState.params().page"
      [rows]="facade.tableState.page().content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="InternalRef">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.INTERNAL_REF' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.internalRef }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="RequestRef">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.REQUEST_REF' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.requestRef }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Amount">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.AMOUNT' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.amount }} {{ row.currency.code }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="paymentType">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.PAYMENT_TYPE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ 'TRANSACTION.PAYMENT_TYPE_' + row.paymentType | translate }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="transactionDate">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.TRANSACTION_DATE' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.transactionDate }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="status">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.STATUS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ 'TRANSACTION.STATUS_' + row.status | translate }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="transactionNo">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.TRANSACTION_NO' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.transactionNo }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="180" [sortable]="false" [width]="200" name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'TRANSACTION.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          @if (canApproveOrReject(row)) {
            <div class="actions-cell">
              <button (click)="approve(row)" nbButton size="small" status="success">
                {{ 'TRANSACTION.APPROVE' | translate }}
              </button>
              <button (click)="reject(row)" nbButton size="small" status="danger">
                {{ 'TRANSACTION.REJECT' | translate }}
              </button>
            </div>
          }
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </nb-card-body>
</nb-card>
