<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_SOCIAL_LINKS' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select fullWidth [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{ item.title }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button nbButton status="success" (click)="save()"
                type="submit">
          {{  'COMMON.SAVE'  | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="store" [formGroup]='form' (ngSubmit)="save()" class="mt-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card shadow-sm mb-3 rounded-3 border-0 hover-shadow" *ngFor="let provider of providers">
              <div class="card-body py-3 px-4">
                <div class="form-group">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fab fa-{{provider.toLowerCase()}} fa-lg text-primary me-2"></i>
                    <label [for]="'input_' + provider"
                           class="h6 mb-0 text-primary">{{ 'STORE.SOCIAL_LINKS_PROVIDER_' + provider | translate }}</label>
                  </div>
                  <div class="input-group">
                    <input nbInput fullWidth [id]="'input_' + provider"
                           [formControlName]="provider"
                           class="form-control"
                           [placeholder]="'Enter your ' + provider + ' profile link'"
                           type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

