<div class="inner_pages create_box">

  <nb-card-header class="main_header">
    <h1 *ngIf="action == 'save'" class="page_title">{{ 'CONTENT.ADD_BOX_DETAILS' | translate }}</h1>
    <h1 *ngIf="action == 'edit'" class="page_title">{{ 'CONTENT.UPDATE_BOX_DETAILS' | translate }}</h1>
    <div class="content_spacing">
      <button (click)="goToBack()" class="cancel_button" nbButton type="button">{{
          'COMMON.CANCEL'
            | translate
        }}
      </button>
    </div>
    <div class="content_spacing">
      <button (click)="save()" *ngIf="action == 'edit'" [nbSpinner]="loader" class="success_button" nbButton
              nbSpinnerSize="large" nbSpinnerStatus="control" type="button">
        {{ (!loader ? 'COMMON.UPDATE' : '') | translate }}
      </button>
      <button (click)="save()" *ngIf="action == 'save'" [nbSpinner]="loader" class="success_button" nbButton
              nbSpinnerSize="large" nbSpinnerStatus="control" type="button">{{
          (!loader ? 'COMMON.SAVE' : '') | translate
        }}
      </button>
    </div>
  </nb-card-header>
  <div [nbSpinner]="loader" class="" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <form #boxForm="ngForm" *ngIf="!loader" [formGroup]='form' role="form">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.BASIC_DETAILS' | translate }}</nb-card-header>
            <nb-card-body class="nb-card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <nb-checkbox formControlName='visible'>{{ 'CONTENT.VISIBLE' | translate }}</nb-checkbox>
                    <!--<nb-checkbox [(ngModel)]="page.mainmenu" name="mainmenu">{{ 'CONTENT.MAINMENU' | translate}}</nb-checkbox>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="label inputLabel" for="code">{{ 'CONTENT.CODE' | translate }} <span>*</span></label>
                    <div>
                      <input (change)="checkCode($event)" [readOnly]="uniqueCode" class="form-control inputText" formControlName='code'
                             id="code" placeholder="{{ 'COMMON.CODE' | translate}}"
                             required type="text">
                      <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message">
                        <span *ngIf="code.errors.required">
                          {{ 'COMMON.CODE_REQUIRED' | translate }}
                        </span>
                        <span *ngIf="code.errors.pattern">
                          {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
                        </span>
                      </div>
                      <span *ngIf="isCodeExists" class="err-message">
                        {{ 'COMMON.CODE_EXISTS' | translate }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <nb-card class="nb-card inline-form-card">
            <nb-card-header class="nb-card-header">{{ 'CONTENT.PAGE_CONTENT' | translate }} - {{
                ('LANG.' +
                  currentLanguage) |translate
              }}&nbsp;
              <nb-select *ngIf="languages.length" [selected]="defaultLanguage" name='selectedLanguage'
                         outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
                <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages"
                           [value]="language.code">{{
                    ('LANG.' + language.code) |translate
                  }}
                </nb-option>
              </nb-select>
            </nb-card-header>
            <nb-card-body class="nb-card-body">
              <div *ngIf="selectedLanguage.value !== ''" formArrayName='descriptions'>
                <div *ngFor="let descr of descriptions.controls; let j=index">
                  <div *ngIf="descr.value.language === selectedLanguage.value">
                    <div [formGroupName]="j" class="description-block">
                      <div class="form-group">
                        <quill-editor [styles]="{height: '200px'}" formControlName="description"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </form>
  </div>
</div>
