<nb-card>
  <nb-card-body>

    @if (facade.store()) {
      <div>
        <h5 class="mb-3">{{ 'PRODUCT_GROUP.ADD_PRODUCTS' | translate }}</h5>

        <div class="form-group row mb-3">
          <label class="col-sm-4 col-form-label"
                 for="product-autocomplete">{{ 'PRODUCT_GROUP.SEARCH_PRODUCT' | translate }}</label>
          <div class="col-sm-6">
            <ngx-product-auto-complete (productSelected)="facade.onItemSelect($event)" [store]="facade.store()"/>
          </div>
        </div>

      </div>
    }
    <ngx-datatable
      (page)="facade.onPageChange($event)"
      [columnMode]="ColumnMode.force"
      [count]="facade.page().totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="50"
      [offset]="facade.page().pageNumber"
      [rows]="facade.rows()"
      class="material"
      rowHeight="auto">


      <ngx-datatable-column name="name">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.NAME' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.sku }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{ 'ORDER.ACTIONS' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button (click)="facade.onItemDeSelect(row)" nbButton shape="round" size="small" status="danger">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>


  </nb-card-body>
</nb-card>
