<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" nbSpinnerSize="large" nbSpinnerStatus="primary" class="orderList">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.ORDERS' | translate}}</h1>
        <div class="content_spacing_empty"></div>
        <ngx-store-selector (storeSelectionChange)="onSelectStore($event)"></ngx-store-selector>
      </nb-card-header>

      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)">


        <ngx-datatable-column name="Id">
          <ng-template let-column="column" ngx-datatable-header-template> {{'COMMON.ID' |translate}} </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>
<!--
        <ngx-datatable-column name="CustomerName">
          <ng-template let-column="column" ngx-datatable-header-template> {{'ORDER.CUSTOMER_NAME' |translate}} </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            My name is: <i [innerHTML]="row['billing']['firstName']"></i> and <i>{{ value }}</i>
          </ng-template>

        </ngx-datatable-column>
-->

        <ngx-datatable-column name="CustomerName">
          <ng-template let-column="column"  ngx-datatable-header-template>
            {{'ORDER.CUSTOMER_NAME' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.billing.firstName +'   '+ row.billing.lastName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CustomerPhone">
          <ng-template let-column="column"  ngx-datatable-header-template>
           {{'ORDER.CUSTOMER_PHONE' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.billing.phone}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CustomerEmail">
          <ng-template let-column="column"  ngx-datatable-header-template>
            {{'ORDER.CUSTOMER_EMAIL' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.billing.email}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="total">
          <ng-template let-column="column"  ngx-datatable-header-template>
           {{'ORDER.TOTAL' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.total.value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="datePurchased">
          <ng-template let-column="column"  ngx-datatable-header-template>
            {{'ORDER.ORDER_DATE' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.datePurchased}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="orderStatus">
          <ng-template let-column="column"  ngx-datatable-header-template>
            {{'ORDER.STATUS' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.orderStatus}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="actions">
          <ng-template let-column="column"  ngx-datatable-header-template>
            {{'ORDER.ACTIONS' |translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/pages/orders/order-details',row.id]"><i class="nb-edit"></i></a>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </nb-card-body>
</nb-card>
