<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ title | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div *ngIf="user!=undefined" class="col col-lg-2">
        <nb-select fullWidth [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">
            {{ item.title |translate }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="m-1" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button nbButton status="success" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="control"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="username">
          {{ 'USER_FORM.USER_NAME' | translate }}
          *
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='userName' id="username"
                 placeholder="{{ 'USER_FORM.USER_NAME' | translate }}"
                 required type="text">
          <span *ngIf="(userName.dirty || userName.touched) && userName.invalid && userName.errors.required"
                class="err-message">
              {{ 'USER_FORM.USER_NAME_ERROR_REQUIRED' | translate }}
            </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="firstname">
          {{ 'USER_FORM.FIRST_NAME' | translate }}
          *</label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='firstName' id="firstname"
                 placeholder="{{ 'USER_FORM.FIRST_NAME' | translate }}"
                 required type="text">
          <span *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid && firstName.errors.required"
                class="err-message">
              {{ 'USER_FORM.FIRST_NAME_ERROR_REQUIRED' | translate }}
            </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="lastname">{{ 'USER_FORM.LAST_NAME' | translate }}
          *</label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='lastName' id="lastname"
                 placeholder="{{ 'USER_FORM.LAST_NAME' | translate }}"
                 required type="text">
          <span *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid && lastName.errors.required"
                class="err-message">
              {{ 'USER_FORM.LAST_NAME_ERROR_REQUIRED' | translate }}
            </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'USER_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='emailAddress' id="email"
                 placeholder="{{ 'USER_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
          <span *ngIf="(emailAddress.dirty || emailAddress.touched) && emailAddress.invalid && emailAddress"
                class="err-message">
              <span *ngIf="emailAddress.errors.email || emailAddress.errors.pattern">
                {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_NOT_VALID' | translate }}
              </span>
              <span *ngIf="emailAddress.errors.required">
                {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_REQUIRED' | translate }}
              </span>
            </span>
        </div>
      </div>

      <div *ngIf="action=='CREATE'" class="form-group">
        <label class="col-sm-3 col-form-label " for="password">
          {{ 'COMMON.PASSWORD' | translate }}*
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control " formControlName='password' id="password"
                 placeholder="{{ 'COMMON.PASSWORD' | translate }}"
                 required type="password">
          <span *ngIf="(password.dirty || password.touched) && password.invalid && password" class="err-message">
              <span *ngIf="password.errors.required">
                {{ 'USER_FORM.PASSWORD_ERROR_REQUIRED' | translate }}
              </span>
              <span *ngIf="password.errors.pattern">
                {{ 'USER_FORM.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                {{ 'USER_FORM.PASSWORD_ERROR_RULES' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div *ngIf="action=='CREATE'" class="form-group">
        <label class="col-sm-3 col-form-label " for="password">
          Repeat Password *
        </label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control" formControlName='repeatPassword' id="repeatPassword"
                 placeholder="Repeat Password"
                 required type="password">
          <span *ngIf="(repeatPassword.dirty || repeatPassword.touched) && repeatPassword.invalid && repeatPassword"
                class="err-message">
              <span *ngIf="repeatPassword.errors.required">
                {{ 'USER_FORM.PASSWORD_ERROR_REQUIRED' | translate }}<br/>
              </span>

            </span>
          <span *ngIf="form.hasError('notSame')" class="err-message">
              <span>
                {{ 'USER_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <nb-checkbox class="col-sm-4" formControlName='active'>
          {{ 'USER_FORM.ACTIVE' | translate }}
        </nb-checkbox>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-form-label ">
          {{ 'USER_FORM.GROUPS' | translate }} *
        </label>
        <div class="col-sm-12 group-block">
          <nb-checkbox [disabled]="action=='VIEW'" *ngFor="let group of groups" [checked]="group.checked"
                       (change)="checkGroup(group.name)">
            {{ group.name }}
          </nb-checkbox>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
