<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ title | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      @if (user!==undefined) {
        <div class="col col-lg-2">
          <nb-select [selected]="facade.selectedItem()" fullWidth outline shape="rectangle">
            @for (item of facade.sidemenuLinks(); track item.id) {
              <nb-option (click)="facade.route(item.link)" [value]="item.id">
                {{ item.title |translate }}
              </nb-option>
            }
          </nb-select>
        </div>
      }
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save(action, store, user)" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]='facade.form'>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="username">
          {{ 'USER_FORM.USER_NAME' | translate }}
          *
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='userName' fullWidth id="username" nbInput
                 placeholder="{{ 'USER_FORM.USER_NAME' | translate }}"
                 required type="text">
          @if ((facade.userName.dirty || facade.userName.touched) && facade.userName.invalid && facade.userName.errors?.required) {
            <span class="err-message">
              {{ 'USER_FORM.USER_NAME_ERROR_REQUIRED' | translate }}
            </span>
          }
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="firstname">
          {{ 'USER_FORM.FIRST_NAME' | translate }}
          *</label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='firstName' fullWidth id="firstname" nbInput
                 placeholder="{{ 'USER_FORM.FIRST_NAME' | translate }}"
                 required type="text">
          @if ((facade.firstName.dirty || facade.firstName.touched) && facade.firstName.invalid && facade.firstName.errors?.required) {
            <span class="err-message">
              {{ 'USER_FORM.FIRST_NAME_ERROR_REQUIRED' | translate }}
            </span>
          }
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="lastname">{{ 'USER_FORM.LAST_NAME' | translate }}
          *</label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='lastName' fullWidth id="lastname" nbInput
                 placeholder="{{ 'USER_FORM.LAST_NAME' | translate }}"
                 required type="text">
          @if ((facade.lastName.dirty || facade.lastName.touched) && facade.lastName.invalid && facade.lastName.errors?.required) {
            <span class="err-message">
              {{ 'USER_FORM.LAST_NAME_ERROR_REQUIRED' | translate }}
            </span>
          }
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-form-label " for="email">
          {{ 'USER_FORM.EMAIL_ADDRESS' | translate }}*
        </label>
        <div class="col-sm-12">
          <input class="form-control " formControlName='emailAddress' fullWidth id="email" nbInput
                 placeholder="{{ 'USER_FORM.EMAIL_ADDRESS' | translate }}" required type="email">
          @if ((facade.emailAddress.dirty || facade.emailAddress.touched) && facade.emailAddress.invalid && facade.emailAddress) {
            <span class="err-message">
              @if (facade.emailAddress.errors?.email || facade.emailAddress.errors?.pattern) {
                <span>
                  {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_NOT_VALID' | translate }}
                </span>
              }
              @if (facade.emailAddress.errors?.required) {
                <span>
                  {{ 'USER_FORM.EMAIL_ADDRESS_ERROR_REQUIRED' | translate }}
                </span>
              }
            </span>
          }
        </div>
      </div>

      @if (action==='CREATE') {
        <div class="form-group">
          <label class="col-sm-3 col-form-label " for="password">
            {{ 'COMMON.PASSWORD' | translate }}*
          </label>
          <div class="col-sm-12">
            <input class="form-control " formControlName='password' fullWidth id="password" nbInput
                   placeholder="{{ 'COMMON.PASSWORD' | translate }}"
                   required type="password">
            @if ((facade.password.dirty || facade.password.touched) && facade.password.invalid && facade.password) {
              <span class="err-message">
                @if (facade.password.errors?.required) {
                  <span>
                    {{ 'USER_FORM.PASSWORD_ERROR_REQUIRED' | translate }}
                  </span>
                }
                @if (facade.password.errors?.pattern) {
                  <span>
                    {{ 'USER_FORM.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                    {{ 'USER_FORM.PASSWORD_ERROR_RULES' | translate }}
                  </span>
                }
              </span>
            }
          </div>
        </div>
      }
      @if (action==='CREATE') {
        <div class="form-group">
          <label class="col-sm-3 col-form-label " for="password">
            Repeat Password *
          </label>
          <div class="col-sm-12">
            <input class="form-control" formControlName='repeatPassword' fullWidth id="repeatPassword" nbInput
                   placeholder="Repeat Password"
                   required type="password">
            @if ((facade.repeatPassword.dirty || facade.repeatPassword.touched) && facade.repeatPassword.invalid && facade.repeatPassword) {
              <span class="err-message">
                @if (facade.repeatPassword.errors?.required) {
                  <span>
                    {{ 'USER_FORM.PASSWORD_ERROR_REQUIRED' | translate }}<br/>
                  </span>
                }

              </span>
            }
            @if (facade.form.hasError('notSame')) {
              <span class="err-message">
                <span>
                  {{ 'USER_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
                </span>
              </span>
            }
          </div>
        </div>
      }
      <div class="form-group">
        <nb-checkbox class="col-sm-4" formControlName='active'>
          {{ 'USER_FORM.ACTIVE' | translate }}
        </nb-checkbox>
      </div>

      <div class="form-group">
        <span class="col-sm-3 col-form-label ">
          {{ 'USER_FORM.ROLES' | translate }} *
        </span>
        <div class="col-sm-12 group-block">
          @for (role of facade.roles(); track role.name) {
            <nb-checkbox (change)="facade.checkRole(role.name)" [checked]="role.checked"
                         [disabled]="action==='VIEW'">
              {{ role.name }}
            </nb-checkbox>
          }
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
