<nb-card class="page-card inner_pages catalogues_box">
  <nb-card-body [nbSpinner]="loadingList" class="list" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.CATALOGUES_LIST' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
          <!-- <div class="store-list">
                <p-dropdown *ngIf="stores.length> 0" [options]="stores" filter="true" (onChange)="onSelectStore($event)">
                <ng-template let-item pTemplate="selectedItem">{{item.label}}</ng-template>
                <ng-template let-car pTemplate="item">{{car.label}}</ng-template>
                </p-dropdown>
           </div> -->
        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>
          <a [routerLink]="['/pages/catalogue/catalogues/create-catalogue']" class="createBtn">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'COMPONENTS.CREATE_CATALOGUE' | translate}}">
            <label>{{ 'COMPONENTS.CREATE_CATALOGUE' | translate }}</label>
          </a>
        </div>

      </form>


      <ng2-smart-table (custom)="onClickAction($event)" [settings]="settings" [source]="source" class="home-table">
      </ng2-smart-table>

      <ngx-paginator (changePage)="changePage($event)" [count]="totalCount" [currentPage]="currentPage" [pagesToShow]="5"
                     [perPage]="perPage">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>
