<nb-card status="basic" accent="info">

  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ title | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="m-1" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button nbButton status="success" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large"
                nbSpinnerStatus="control"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group row">
        <label for="name" class="label col-sm-3 col-form-label">{{ 'POD_FORM.NAME' | translate }}</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth id="name" formControlName="name"
                 placeholder="{{ 'POD_FORM.NAME' | translate }}"
                 [status]="name.invalid && (name.dirty || name.touched) ? 'danger' : 'basic'">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="caption status-danger mt-1">
            <div *ngIf="name.errors?.['required']">{{ 'POD_FORM.NAME_REQUIRED' | translate }}</div>
            <div *ngIf="name.errors?.['pattern']">{{ 'POD_FORM.NAME_PATTERN' | translate }}</div>
          </div>
        </div>
      </div>

      <div formGroupName="endpoint">
        <div class="form-group row">
          <label for="endpoint" class="label col-sm-3 col-form-label">{{ 'POD_FORM.ENDPOINT_URL' | translate }}</label>
          <div class="col-sm-9">
            <input type="text" nbInput fullWidth id="endpoint" formControlName="endpoint"
                   placeholder="{{ 'POD_FORM.ENDPOINT_URL' | translate }}"
                   [status]="endpointUrl.invalid && (endpointUrl.dirty || endpointUrl.touched) ? 'danger' : 'basic'">
            <div *ngIf="endpointUrl.invalid && (endpointUrl.dirty || endpointUrl.touched)"
                 class="caption status-danger mt-1">
              <div *ngIf="endpointUrl.errors?.['required']">{{ 'POD_FORM.ENDPOINT_URL_REQUIRED' | translate }}</div>
              <div *ngIf="endpointUrl.errors?.['pattern']">{{ 'POD_FORM.ENDPOINT_URL_PATTERN' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="type" class="label col-sm-3 col-form-label">{{ 'POD_FORM.TYPE' | translate }}</label>
          <div class="col-sm-9">
            <nb-select fullWidth id="type" formControlName="type"
                       placeholder="{{ 'POD_FORM.SELECT_TYPE' | translate }}">
              <nb-option *ngFor="let type of endpointTypes" [value]="type">{{ type }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div formGroupName="orgId">
        <div class="form-group row">
          <label for="orgId" class="label col-sm-3 col-form-label">{{ 'POD_FORM.ORG_ID' | translate }}</label>
          <div class="col-sm-9">
            <input type="text" nbInput fullWidth id="orgId" formControlName="id"
                   placeholder="{{ 'POD_FORM.ORG_ID' | translate }}">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
