<nb-card accent="info" status="basic">

  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ title | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="save()" [nbSpinner]="loader" nbButton nbSpinnerSize="large" nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <form (ngSubmit)="save()" [formGroup]="form">
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label" for="name">{{ 'POD_FORM.NAME' | translate }}</label>
        <div class="col-sm-9">
          <input [status]="name.invalid && (name.dirty || name.touched) ? 'danger' : 'basic'" formControlName="name" fullWidth id="name" nbInput
                 placeholder="{{ 'POD_FORM.NAME' | translate }}"
                 type="text">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="caption status-danger mt-1">
            <div *ngIf="name.errors?.['required']">{{ 'POD_FORM.NAME_REQUIRED' | translate }}</div>
            <div *ngIf="name.errors?.['pattern']">{{ 'POD_FORM.NAME_PATTERN' | translate }}</div>
          </div>
        </div>
      </div>

      <div formGroupName="endpoint">
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="endpoint">{{ 'POD_FORM.ENDPOINT_URL' | translate }}</label>
          <div class="col-sm-9">
            <input [status]="endpointUrl.invalid && (endpointUrl.dirty || endpointUrl.touched) ? 'danger' : 'basic'" formControlName="endpoint" fullWidth id="endpoint" nbInput
                   placeholder="{{ 'POD_FORM.ENDPOINT_URL' | translate }}"
                   type="text">
            <div *ngIf="endpointUrl.invalid && (endpointUrl.dirty || endpointUrl.touched)"
                 class="caption status-danger mt-1">
              <div *ngIf="endpointUrl.errors?.['required']">{{ 'POD_FORM.ENDPOINT_URL_REQUIRED' | translate }}</div>
              <div *ngIf="endpointUrl.errors?.['pattern']">{{ 'POD_FORM.ENDPOINT_URL_PATTERN' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="type">{{ 'POD_FORM.TYPE' | translate }}</label>
          <div class="col-sm-9">
            <nb-select formControlName="type" fullWidth id="type"
                       placeholder="{{ 'POD_FORM.SELECT_TYPE' | translate }}">
              <nb-option *ngFor="let type of endpointTypes" [value]="type">{{ type }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div formGroupName="orgId">
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="orgId">{{ 'POD_FORM.ORG_ID' | translate }}</label>
          <div class="col-sm-9">
            <input formControlName="id" fullWidth id="orgId" nbInput placeholder="{{ 'POD_FORM.ORG_ID' | translate }}"
                   type="text">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
