<nb-card accent="info" status="basic">

  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ title | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button (click)="facade.save()" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large"
                nbSpinnerStatus="control"
                status="success"
                type="submit">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <form (ngSubmit)="facade.save()" [formGroup]="facade.formService.form">
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label" for="name">{{ 'POD_FORM.NAME' | translate }}</label>
        <div class="col-sm-9">
          <input formControlName="name"
                 fullWidth id="name" nbInput ngxControlStatus
                 placeholder="{{ 'POD_FORM.NAME' | translate }}"
                 type="text">
          <ngx-field-error [control]="facade.formService.name"
                           [messages]="{required: 'POD_FORM.NAME_REQUIRED', pattern: 'POD_FORM.NAME_PATTERN'}"/>
        </div>
      </div>

      <div formGroupName="endpoint">
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="endpoint">{{ 'POD_FORM.ENDPOINT_URL' | translate }}</label>
          <div class="col-sm-9">
            <input formControlName="endpoint" fullWidth id="endpoint" nbInput ngxControlStatus
                   placeholder="{{ 'POD_FORM.ENDPOINT_URL' | translate }}"
                   type="text">
            <ngx-field-error [control]="facade.formService.endpointUrl"
                             [messages]="{required: 'POD_FORM.ENDPOINT_URL_REQUIRED', pattern: 'POD_FORM.ENDPOINT_URL_PATTERN'}"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="type">{{ 'POD_FORM.TYPE' | translate }}</label>
          <div class="col-sm-9">
            <nb-select formControlName="type" fullWidth id="type"
                       placeholder="{{ 'POD_FORM.SELECT_TYPE' | translate }}">
              @for (type of facade.formService.endpointTypes; track type) {
                <nb-option [value]="type">{{ type }}</nb-option>
              }
            </nb-select>
          </div>
        </div>
      </div>

      <div formGroupName="orgId">
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label" for="orgId">{{ 'POD_FORM.ORG_ID' | translate }}</label>
          <div class="col-sm-9">
            <input formControlName="id" fullWidth id="orgId" nbInput placeholder="{{ 'POD_FORM.ORG_ID' | translate }}"
                   type="text">
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
