STATIC_ASSETS_SYNC_ENABLED=true
STATIC_ASSETS_S3_BUCKET=my-storefront-assets
STATIC_ASSETS_S3_PREFIX=storefront

STATIC_ASSETS_BASE_URL=https://dxxx.cloudfront.net
STATIC_ASSETS_CLOUDFRONT_DISTRIBUTION_ID=******

AWS_REGION=eu-central-1