<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'PRODUCT_TYPE.PRODUCT_TYPE_DETAILS' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="m-1" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        <button nbButton status="success" (click)="save()" [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="control"
                type="submit">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="loaded" [formGroup]='form'>
      <div class="form-group">
        <label class="col-form-label"></label>
        <nb-checkbox formControlName='allowAddToCart' name="allowAddToCart">
          {{ 'PRODUCT_TYPE.ALLOW_ADD_TO_CART' | translate }}
        </nb-checkbox>
        <nb-checkbox formControlName='visible' name="visible">
          {{ 'CONTENT.VISIBLE' | translate }}
        </nb-checkbox>
      </div>

      <div class="form-group">
        <label class="col-form-label ">
          {{ 'COMMON.CODE' | translate }}*
        </label>
        <input nbInput fullWidth (change)="checkCode($event)" [readOnly]="isReadonlyCode" class="form-control "
               formControlName='code'
               id="code"
               required type="text">
        <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message"
             style="margin-top:10px;">
            <span *ngIf="code.errors.required">
              {{ 'COMMON.CODE_REQUIRED' | translate }}
            </span>
          <span *ngIf="code.errors.pattern">
              {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
            </span>
        </div>

        <span *ngIf="isCodeExist" class="err-message">
            {{ 'COMMON.CODE_EXISTS' | translate }}
          </span>
        <div *ngIf="!isValidCode" class="err-message" style="margin-top:10px;">
          {{ 'COMMON.CODE_REQUIRED' | translate }}
        </div>
      </div>


      <div class="form-group">
        <label class="col-form-label ">{{ 'COMMON.LANGUAGE' | translate }} *</label>
        <nb-select fullWidth *ngIf="languages.length" formControlName='selectedLanguage'
                   outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
          <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages"
                     [value]="language.code">{{
              ('LANG.' + language.code) |
                translate
            }}
          </nb-option>
        </nb-select>
      </div>
      <div formArrayName='descriptions'>
        <div *ngFor="let descr of descriptions.controls; let j=index">
          <div *ngIf="descr.value.language === selectedLanguage.value">
            <div [formGroupName]="j">
              <div class="form-group">
                <label class="col-form-label ">{{ 'COMMON.NAME' | translate }}*</label>
                <input nbInput fullWidth class="form-control " formControlName='name' id="name" required type="text">
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

  </nb-card-body>

</nb-card>
