<nb-card class="page-card inner_pages">
  <nb-card-body [nbSpinner]="loadingList" class="productList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.PRODUCTS' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>

      <form class="form-inline filter_section">
        <div class="filter_left_section">
        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>

          <a [routerLink]="['/pages/catalogue/products/create-product',params.store+'-']" class="createBtn">
            <img alt="" class="pointer sda add"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'COMPONENTS.CREATE_PRODUCT' | translate}}">
            <label>{{ 'COMPONENTS.CREATE_PRODUCT' | translate }}</label>
          </a>
        </div>
      </form>
      <ngx-datatable
        (page)="setPage($event)"
        [columnMode]="ColumnMode.force"
        [count]="page.totalElements"
        [externalPaging]="true"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="page.size"
        [offset]="page.pageNumber"
        [rows]="rows"
        class="material"
        rowHeight="auto">

        <ngx-datatable-column name="Id">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="sku">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.SKU' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.PRODUCT_NAME' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.description.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="quantity">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.QTY' |translate }}</ng-template>
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <span
              (dblclick)="editing[rowIndex + '-quantity'] = true"
              *ngIf="!editing[rowIndex + '-quantity']"
              title="Double click to edit"
            >
              {{ value }}
            </span>
            <input (blur)="updateValue($event, 'quantity', rowIndex)" *ngIf="editing[rowIndex + '-quantity']" [value]="value" autofocus
                   fieldSize="tiny" max="1000000" min="0" nbInput type="number"/>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="available">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.AVAILABLE' |translate }}
          </ng-template>
          <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <input (click)="updateValue($event,'available',rowIndex)" [checked]="value" [value]="value"
                   type="checkbox"/>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="price">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.PRICE' |translate }}</ng-template>
          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            <span
              (dblclick)="editing[rowIndex + '-price'] = true"
              *ngIf="!editing[rowIndex + '-price']"
              title="Double click to edit"
            >
              {{ value }}
            </span>
            <input (blur)="updateValue($event, 'price', rowIndex)" *ngIf="editing[rowIndex + '-price']" [value]="value" autofocus
                   fieldSize="tiny" max="1000000" min="0" nbInput type="number"/>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="creationDate">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'PRODUCT.CREATION_DATE' |translate }}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'ORDER.ACTIONS' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary"><i class="nb-edit"></i>
            </button>
            <button (click)="onDelete(row)" nbButton shape="round" size="small" status="danger"><i class="nb-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>


    </div>
  </nb-card-body>
</nb-card>
