<div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
  <div class="inner_pages type_create_page">

    <form *ngIf="loaded" [formGroup]='form'>
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'PRODUCT_TYPE.PRODUCT_TYPE_DETAILS' | translate }}</h1>
        <div class="content_spacing">

        </div>
        <div class="content_spacing">
          <button (click)="goToBack()" class="cancel_button" nbButton type="button">
            {{ 'ORDER_FORM.CANCEL'| translate }}
          </button>
        </div>

        <div class="content_spacing">
          <button (click)="save()" [nbSpinner]="loading" class="success_button" nbButton nbSpinnerSize="large"
                  nbSpinnerStatus="control" type="button">
            {{ (!loading ? 'COMMON.SAVE' : '') | translate }}
          </button>
        </div>
      </nb-card-header>

      <!-- <div [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary"> -->


      <nb-card class="nb-card inline-form-card">
        <nb-card-body class="nb-card-body">
          <div class="form-group">
            <label class="col-form-label inputLabel"></label>
            <nb-checkbox formControlName='allowAddToCart' name="allowAddToCart">
              {{ 'PRODUCT_TYPE.ALLOW_ADD_TO_CART' | translate }}
            </nb-checkbox>
            <!-- <nb-checkbox [(ngModel)]="page.mainmenu" name="mainmenu">{{ 'CONTENT.MAINMENU' | translate}}</nb-checkbox> -->
            <nb-checkbox formControlName='visible' name="visible">
              {{ 'CONTENT.VISIBLE' | translate }}
            </nb-checkbox>
          </div>

          <div class="form-group">
            <label class="col-form-label inputLabel">{{ 'COMMON.CODE' | translate }}
              *</label>
            <input (change)="checkCode($event)" [readOnly]="isReadonlyCode" class="form-control inputText" formControlName='code'
                   id="code"
                   required type="text">
            <div *ngIf="(code.dirty || code.touched) && code.invalid && code" class="err-message"
                 style="margin-top:10px;">
            <span *ngIf="code.errors.required">
              {{ 'COMMON.CODE_REQUIRED' | translate }}
            </span>
              <span *ngIf="code.errors.pattern">
              {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
            </span>
            </div>

            <span *ngIf="isCodeExist" class="err-message">
            {{ 'COMMON.CODE_EXISTS' | translate }}
          </span>
            <div *ngIf="!isValidCode" class="err-message" style="margin-top:10px;">
              {{ 'COMMON.CODE_REQUIRED' | translate }}
            </div>
          </div>


          <div class="form-group">
            <label class="col-form-label inputLabel">{{ 'COMMON.LANGUAGE' | translate }} *</label>


            <nb-select *ngIf="languages.length" class="fullWidth" formControlName='selectedLanguage'
                       outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
              <nb-option (click)="selectLanguage(language.code)" *ngFor="let language of languages"
                         [value]="language.code">{{
                  ('LANG.' + language.code) |
                    translate
                }}
              </nb-option>
            </nb-select>
          </div>
          <div formArrayName='descriptions'>
            <div *ngFor="let descr of descriptions.controls; let j=index">
              <div *ngIf="descr.value.language === selectedLanguage.value">
                <div [formGroupName]="j">
                  <div class="form-group">
                    <label class="col-form-label inputLabel">{{ 'COMMON.NAME' | translate }}*</label>
                    <input class="form-control inputText" formControlName='name' id="name" required type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>


        </nb-card-body>
      </nb-card>


      <!-- </div> -->
    </form>
  </div>
</div>
