<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.CATEGORY' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="m-1" nbButton status="warning" type="button">
          {{ 'ORDER_FORM.CANCEL'| translate }}
        </button>
        @if (!facade.loader()) {
          <button (click)="facade.save()" [disabled]="!facade.formService.form.valid" [nbSpinner]="facade.loading()" nbButton
                  nbSpinnerSize="large"
                  nbSpinnerStatus="control" status="success"
                  type="submit">
            {{ (!facade.loading() ? 'COMMON.SAVE' : '') | translate }}
          </button>
        }

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    @if (!facade.loader()) {
      <form [formGroup]='facade.formService.form'>

        <div [nbSpinner]="facade.loader()" nbSpinnerSize="large" nbSpinnerStatus="primary">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <nb-card accent="info" status="control">
                <nb-card-header>{{ 'CONTENT.BASIC_DETAILS' | translate }}</nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <nb-checkbox formControlName='visible'>
                          {{ 'COMMON.VISIBLE' | translate }}
                        </nb-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label col-form-label" for="parent">{{ 'CATEGORY.PARENT' | translate }}</label>
                        @if (facade.roots().length) {
                          <nb-select formControlName='parent' fullWidth id="parent" outline
                                     placeholder="root"
                                     shape="rectangle">
                            @for (cat of facade.roots(); track cat.code) {
                              <nb-option [value]="cat.code">{{ cat.code }}
                              </nb-option>
                            }
                          </nb-select>
                        }
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label col-form-label" for="code">Code *</label>
                        <input (change)="facade.checkCode($event)" [readOnly]="category?.id" class="form-control"
                               formControlName='code'
                               fullWidth
                               id="code"
                               nbInput placeholder="{{ 'COMMON.CODE' | translate}}"
                               required
                               type="text">
                        @if ((facade.formService.code.dirty || facade.formService.code.touched) && facade.formService.code.invalid && facade.formService.code) {
                          <div class="err-message">
                            @if (facade.formService.code.errors?.required) {
                              <span>
                                {{ 'COMMON.CODE_REQUIRED' | translate }}
                              </span>
                            }
                            @if (facade.formService.code.errors?.pattern) {
                              <span>
                                {{ 'COMMON.ALPHA_DECIMAL_RULE' | translate }}
                              </span>
                            }
                          </div>
                        }
                        @if (!facade.isCodeUnique()) {
                          <span class="err-message">
                            {{ 'COMMON.CODE_EXISTS' | translate }}
                          </span>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label class="label col-form-label" for="order">{{ 'COMMON.ORDER' | translate }}</label>
                        <input class="form-control" formControlName='sortOrder' fullWidth id="order" nbInput
                               placeholder="{{ 'COMMON.ORDER' | translate}}" required type="text">
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <nb-card accent="info" status="control">
                <nb-card-header>
                  <nb-actions size="small">
                    <nb-action>{{ 'COMMON.SEO_DETAILS' | translate }}</nb-action>
                    <nb-action>
                      @if (facade.languages().length) {
                        <nb-select [selected]="facade.defaultLanguage()" name='selectedLanguage'
                                   outline placeholder="{{ 'COMMON.LANGUAGE' | translate}}" shape="rectangle">
                          @for (language of facade.languages(); track language.code) {
                            <nb-option (click)="facade.selectLanguage(language.code)"
                                       [value]="language.code">
                              {{ ('LANG.' + language.code) |translate }}
                            </nb-option>
                          }
                        </nb-select>
                      }

                    </nb-action>
                  </nb-actions>
                </nb-card-header>

                <nb-card-body>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      @if (facade.formService.selectedLanguage.value !== '') {
                        <div formArrayName='descriptions'>

                          @for (descr of facade.formService.descriptions.controls; track $index; let j = $index) {

                            @if (descr.value.language === facade.formService.selectedLanguage.value) {


                              <div [formGroupName]="j">

                                <div class="form-group">
                                  <label class="label col-form-label" for="title">
                                    {{ 'DESCRIPTION_FORM.TITLE' |translate }}
                                  </label>
                                  <input class="form-control" formControlName='title' fullWidth id="title" nbInput
                                         placeholder="{{ 'DESCRIPTION_FORM.TITLE' | translate}}"
                                         type="text">
                                </div>
                                <div class="form-group">
                                  <label class="label col-form-label" for="name">{{
                                      'DESCRIPTION_FORM.NAME' |
                                        translate
                                    }} *</label>
                                  <input (ngModelChange)="facade.changeName($event, j)" class="form-control" formControlName='name'
                                         fullWidth
                                         id="name" nbInput
                                         placeholder="{{ 'DESCRIPTION_FORM.NAME' | translate}}"
                                         type="text">
                                  @if ((descr.get('name').dirty || descr.get('name').touched)
                                      && descr.get('name').invalid && descr.get('name').errors?.required) {
                                    <span class="err-message">
                                      {{ 'DESCRIPTION_FORM.NAME_REQUIRED' | translate }}
                                    </span>
                                  }
                                </div>
                                <div class="form-group">
                                  <label class="label col-form-label" for="friendlyUrl">
                                    {{ 'DESCRIPTION_FORM.FRIENDLY_URL'|translate }} *
                                  </label>
                                  <input class="form-control" formControlName='friendlyUrl' fullWidth id="friendlyUrl"
                                         nbInput
                                         placeholder="{{ 'DESCRIPTION_FORM.FRIENDLY_URL' | translate}}"
                                         type="text">
                                  @if ((descr.get('friendlyUrl').dirty || descr.get('friendlyUrl').touched)
                                      && descr.get('friendlyUrl').invalid && descr.get('friendlyUrl').errors?.required) {
                                    <span class="err-message">
                                      {{ 'DESCRIPTION_FORM.FRIENDLY_URL_REQUIRED' | translate }}
                                    </span>
                                  }
                                </div>

                                <div class="form-group">
                                  <label class="label col-form-label" for="highlight">
                                    {{ 'DESCRIPTION_FORM.HIGHLIGHT' |translate }}
                                  </label>
                                  <input class="form-control" formControlName='highlights' fullWidth id="highlight" nbInput
                                         placeholder="{{ 'DESCRIPTION_FORM.HIGHLIGHT' | translate}}"
                                         type="text">
                                </div>

                                <div class="form-group">
                                  <label class="label col-form-label" for="metaDescription">{{
                                      'DESCRIPTION_FORM.META_DESCRIPTION' | translate
                                    }}</label>
                                  <input class="form-control" formControlName='metaDescription' fullWidth
                                         id="metaDescription"
                                         nbInput
                                         placeholder="{{ 'DESCRIPTION_FORM.META_DESCRIPTION' | translate}}"
                                         type="text">
                                </div>

                              </div>
                            }
                          }

                        </div>
                      }
                    </div>
                  </div>

                </nb-card-body>

              </nb-card>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <nb-card accent="info" status="control">
                <nb-card-header>{{ 'DESCRIPTION_FORM.DESCRIPTION' | translate }}</nb-card-header>
                <nb-card-body>
                  <div>
                    @if (facade.formService.selectedLanguage.value !== '') {
                      <div formArrayName='descriptions'>
                        @for (descr of facade.formService.descriptions.controls; track $index; let k = $index) {
                          @if (descr.value.language === facade.formService.selectedLanguage.value) {
                            <div [formGroupName]="k">
                              <div class="form-group">
                                <quill-editor [styles]="{height: '200px'}" formControlName="description"/>
                              </div>
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </form>
    }
  </nb-card-body>
</nb-card>
