<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Profile</h5>
    <div class="card mb-0">
      <div class="card-body">
        <form>
          <fieldset disabled>
            <div class="mb-3">
              <label class="form-label">Sub</label>
              <input type="text" [value]="authUser?.sub" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Preferred Username</label>
              <input type="text" [value]="authUser?.preferred_username" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Given Name</label>
              <input type="text" [value]="authUser?.given_name" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Family Name</label>
              <input type="text" [value]="authUser?.family_name" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Email Verified</label>
              <input type="text" [value]="authUser?.email_verified" class="form-control">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
