<!-- <nb-card-header>Invoice</nb-card-header> -->
<div class="invoice-box">

  <span class="titleBar">
    <span></span>
    <span class="title_text">{{ 'ORDER_FORM.INVOICE' | translate }}</span>
    <button (click)="cancel()" class="close" type="button"></button>
  </span>

  <table cellpadding="0" cellspacing="0" id="print-section">
    <tr class="top">
      <td colspan="3">
        <table>
          <tr>
            <td *ngIf="store.logo !== null" class="title">
              <img src="{{store.logo.path}}" style="width:100%; max-width:250px;">
            </td>
            <td *ngIf="store.logo == null" class="title">
              <img src="../../../../assets/img/shopizer-logo.png" style="width:100%; max-width:150px;">
            </td>

            <td>
              {{ 'ORDER_FORM.INVOICE' | translate }} #: {{ orderData.id }}<br>
              {{ 'PRODUCT.CREATION_DATE' | translate }}: {{ orderData.datePurchased }}<br>
              <!-- Due: February 1, 2015 -->
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="3">
        <table>
          <tr>
            <td>
              {{ store.name }}<br>
              {{ store.address.address }}<br>
              {{ store.address.city }} {{ store.address.country }}
              {{ store.address.postalCode }}
            </td>

            <td>
              {{ store.name }}.<br>
              {{ store.email }}<br>
              {{ store.phone }}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        {{ 'ORDER.PAYMENT_TYPE' | translate }}
      </td>
      <td></td>
      <td>
        {{ 'ORDER.PAYMENT_MODULE' | translate }}
      </td>
    </tr>

    <tr class="details">
      <td>
        {{ orderData.paymentType }}
      </td>
      <td></td>
      <td>
        {{ orderData.paymentModule }}
      </td>
    </tr>

    <tr class="heading">
      <td>
        {{ 'ORDER_FORM.ITEM' | translate }}
      </td>
      <td style="text-align:center">
        {{ 'ORDER_FORM.QUANTITY' | translate }}
      </td>
      <td>
        {{ 'ORDER_FORM.PRICE' | translate }}
      </td>
    </tr>

    <tr *ngFor="let product of orderData.products" class="item">
      <td>
        {{ product.productName }} - <span class="sku_section">{{ product.sku }}</span>
      </td>
      <td style="text-align:center">
        {{ product.orderedQuantity }}
      </td>
      <td>
        {{ product.subTotal }}
      </td>
    </tr>

    <tr class="total">
      <td>
        <button (click)="print()" class="success_button" type="button">{{ 'ORDER_FORM.PRINT_INVOICE' |translate }}
        </button>
      </td>
      <td></td>
      <td>
        <div *ngFor="let total of orderData.totals" class="total_section">
          <span class="total_module">{{ total.module }} : </span> <span class="total_value">US${{ total.value }}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
