<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.STORES' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">
            {{ item.title |translate }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="isLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <ngx-datatable
      (page)="onPageEvent($event)"
      [columnMode]="ColumnMode.force"
      [count]="page.totalElements"
      [externalPaging]="true"
      [footerHeight]="50"
      [headerHeight]="50"
      [limit]="perPageSize"
      [offset]="page.pageNumber"
      [rows]="page.content"
      class="material"
      rowHeight="auto">

      <ngx-datatable-column name="ID">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.id.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="name">
        <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.STORE_NAME' |translate }}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
