<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'filemanager.title' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <ngx-file-drop (onFileDrop)="facade.dropped($event)" accept="image/*" dropZoneLabel="Drop files here">
          <ng-template let-openFileSelector="openFileSelector" ngx-file-drop-content-tmp>
            <button (click)="openFileSelector()" nbButton status="primary">{{ 'COMMON.BROWSE_FILES' | translate }}
            </button>
          </ng-template>
        </ngx-file-drop>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="facade.loader()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div [hidden]="facade.files().length===0" class="file_listing_scroll">
      <ul class="file_listing_main">
        @for (images of facade.files(); track images; let i = $index) {
          <li>
            <div class="file_listing_box">
              <div class="image-title-main">
                <div class="close_main">
                  <nb-icon (click)="facade.openImage(facade.files(),i)" class="edit"></nb-icon>

                  <nb-icon (click)="facade.unSelectImage(i)" icon="trash"></nb-icon>
                </div>
              </div>
              <div class="image_box">
                <img [alt]="images.name" [id]="'blah-'+i" [src]="images.src" class="banner-image"/>
              </div>
            </div>
          </li>
        }
      </ul>
      <button (click)="facade.upload()" [disabled]="facade.files().length===0" nbButton
              status="success">{{ 'filemanager.upload' | translate }}
      </button>
    </div>
    <div class="file_listing_scroll">
      <ul class="file_listing_main">
        @for (image of facade.images(); track image; let i = $index) {
          <li>
            <div class="file_listing_box">
              <div class="image-title-main">
                <div class="close_main">
                  <nb-icon (click)="facade.openImage(facade.images(),i)" icon="edit"></nb-icon>
                  <nb-icon (click)="facade.removeImage(image.name)" icon="trash"></nb-icon>
                </div>
              </div>
              <div class="image_box">
                <img alt="{{image.name}}" class="banner-image" src="{{image.src}}"/>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  </nb-card-body>
</nb-card>

