<ngx-back-button></ngx-back-button>
<nb-card class="page-card pick-list" size="small">
  <nb-card-header>
    <!-- {{ 'COMPONENTS.CATALOGUE' | translate}} {{ catalog?.code }} -->
    {{ 'COMPONENTS.CATALOGUE' | translate }}
  </nb-card-header>
  <nb-card-body>
    <div class="selector-wrap">
      <div class="selector-element">
        <nb-actions class="back-button" size="medium">
          <nb-action class="action-padding">
            <a [routerLink]="['/pages/catalogue/catalogues/create-catalogue']">
              {{ 'COMPONENTS.CREATE_CATALOGUE' | translate }}
            </a>
          </nb-action>
        </nb-actions>
        <nb-select *ngIf="availableList.length" outline placeholder="{{ 'COMPONENTS.CATALOGUES' | translate}}"
                   shape="rectangle">
          <nb-option (click)="selectGroup(catalog.code)" *ngFor="let catalog of catalogues" [value]="catalog.code">{{
              catalog.code
            }}
          </nb-option>
        </nb-select>
      </div>
    </div>

    <p-pickList (onMoveAllToSource)="moveEvent($event, 'allToSource')" (onMoveAllToTarget)="moveEvent($event, 'allToTarget')"
                (onMoveToSource)="moveEvent($event, 'toSource')" (onMoveToTarget)="moveEvent($event, 'toTarget')" [disabled]="!selectedGroup" [responsive]="true"
                [showSourceControls]="false"
                [showTargetControls]="false" [source]="availableList"
                [target]="selectedList"
                dragdrop="true" filterBy="code"
                sourceFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
                sourceHeader="{{ 'COMMON.AVAILABLE' | translate}}"
                targetFilterPlaceholder="{{ 'COMMON.SEARCH' | translate}}"
                targetHeader="{{ 'COMMON.SELECTED' | translate}}">
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix item-picklist">
          <div>{{ item?.id }}</div>
          <div>{{ item?.description?.name }}</div>
        </div>
      </ng-template>
    </p-pickList>
  </nb-card-body>

</nb-card>
