<nb-card class="page-card inner_pages">
  <nb-card-body class="product_attribute">
    <div class="inner_pages_legacy">
      <form class="form-inline filter_section">
        <div class="filter_right_section">

          <a (click)="onClickAdd()" class="createBtn">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'COMPONENTS.CREATE_PRODUCTS_PROPERTIES' | translate}}">
            <label>{{ 'COMPONENTS.CREATE_PRODUCTS_PROPERTIES' | translate }}</label></a>
        </div>
      </form>
      <ng2-smart-table (custom)="route($event)" [settings]="settings" [source]="source" class="home-table">
      </ng2-smart-table>
      <ngx-paginator [count]="totalCount" [currentPage]="currentPage" [pagesToShow]="5" [perPage]="perPage">
      </ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>
