<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'STORE.STORE_SOCIAL_LOGIN' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [(selected)]="selectedItem" fullWidth outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sideMenuLinks" [value]="item.id">{{ item.title }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button (click)="save()" nbButton status="success"
                type="submit">
          {{ 'COMMON.SAVE'  | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="save()" *ngIf="form" [formGroup]="form">
      <div formArrayName="configs">
        <div *ngFor="let config of configForms.controls; let i=index" [formGroupName]="i" class="provider-config">
          <h6>{{ config.value.providerId }}</h6>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">{{ 'STORE.SOCIAL_APP_ID' | translate }}</label>
                <input formControlName="appId" fullWidth nbInput type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">{{ 'STORE.SOCIAL_APP_SECRET' | translate }}</label>
                <input formControlName="appSecret" fullWidth nbInput type="password">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <nb-checkbox formControlName="enabled">{{ 'STORE.SOCIAL_APP_ENABLED' | translate }}</nb-checkbox>
              </div>
            </div>
          </div>

          <!-- New hint for callback URL -->
          <div class="row mt-2">
            <div class="col">
              <small class="text-muted">
                <code> {{
                    'STORE.SOCIAL_CALLBACK_URL' | translate : {
                      storeId: store.id,
                      provider: config.value.providerId | lowercase
                    }
                  }} </code>
              </small>
            </div>
          </div>
        </div>
      </div>
    </form>

  </nb-card-body>
</nb-card>
