<div class="d-flex">
    <div class="w-25 d-none d-lg-block border-end user-chat-box">
        <div class="overflow-auto " data-simplebar="init" style="height: calc(100vh - 262px)">
            <ul>
                <li>
                    <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['bg-light']"
                       class="p-3 border-bottom d-flex "
                       routerLink="/settings">
                        <div class="ms-3 d-inline-block w-75">
                            <h6 class="mb-0">Domain Settings</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['bg-light']"
                       class="p-3 border-bottom d-flex "
                       routerLink="/settings/stores">
                        <div class="ms-3 d-inline-block w-75">
                            <h6 class="mb-0">Stores Settings</h6>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-75 w-xs-100 chat-container">
        <div class="p-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


