<div class="inner_pages image_browse">


    <span class="titleBar">
        <span></span>
        <span class="title_text">Image Gallery</span>
        <button (click)="cancel()" class="close" type="button"></button>
    </span>
  <div [nbSpinner]="facade.loading()" class="row" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <ul class="gallery_listing_main">

        <li *ngFor="let images of facade.images();let i=index">
          <div class="gallery_listing_box">
            <!-- <div class="image-title-main">
                <p class="image-title">{{images.name}}</p>
            </div> -->
            <!-- <div class="close_main">
                <i class="fa fa-eye" (click)="openImage(i)"></i>
                <i class="fa fa-trash" (click)="removeImage(images.name)"></i>
            </div> -->
            <div *ngIf="images.contentType == 1" class="image_box">
              <img class="banner-image" src="{{images.path}}">
            </div>
            <div *ngIf="images.contentType != 1" class="image_box">
              <img (click)="openImage(images)" class="banner-image" src="{{images.path}}{{images.name}}">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
