<aside class="left-sidebar">
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a class="text-nowrap logo-img" routerLink="/in">
        <img alt="" src="./assets/images/logos/dark-logo.svg" width="180"/>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a aria-expanded="false" class="sidebar-link" routerLink="/in">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">UI COMPONENTS</span>
        </li>
        <li class="sidebar-item">
          <a aria-expanded="false" class="sidebar-link" routerLink="/in/feedback">
                <span>
                  <i class="ti ti-article"></i>
                </span>
            <span class="hide-menu">Feedback</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a aria-expanded="false" class="sidebar-link" routerLink="/in/analytics">
                <span>
                  <i class="ti ti-article"></i>
                </span>
            <span class="hide-menu">Analytics</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
