<nb-card class="page-card">
  <div *ngIf="loading" [nbSpinner]="loading" class="loading-block" nbSpinnerSize="large" nbSpinnerStatus="primary">
  </div>
  <nb-card-body *ngIf="!loading">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'STORE.STORE_INFORMATION' | translate }}</h1>
        <div class="content_spacing">
          <nb-select [(selected)]="selectedItem" outline shape="rectangle">
            <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{ item.title }}
            </nb-option>
          </nb-select>
        </div>

        <div class="content_spacing">

        </div>

      </nb-card-header>

      <form [formGroup]="imageUpload">
        <div (click)='imageInput.click()' (dragover)="allowDrop($event)" (drop)="drop($event)" class="wrapper">
          <div #imageDrop id="imageDrop">

            <img *ngIf="logo" [src]="logo?.path" style="max-height:200;"/>

          </div>
          <div class="uploadingPhrase">{{ 'STORE_BRANDING.DROP_FILE' | translate }}</div>
        </div>

        <input #imageInput (change)='imageChange($event)' formControlName="imageInput" id="imageInput" required
               type="file">

        <div class="form-group actions-button">
          <button (click)="removeLogo()" *ngIf="showRemoveButton" class="btn btn-danger" type="submit">{{
              'COMMON.REMOVE' | translate
            }}
          </button>
          <button (click)="saveLogo()" *ngIf="logoFile" [nbSpinner]="loadingButton" class="btn btn-primary" nbButton
                  nbSpinnerMessage="" nbSpinnerSize="large" type="submit">
            {{ (!loadingButton ? 'COMMON.SAVE' : '') | translate }}
            <!-- {{ 'COMMON.SAVE' | translate}} -->
          </button>
        </div>

      </form>

    </div>
  </nb-card-body>
</nb-card>
