<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMMON.PASSWORD' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [selected]="facade.selectedItem()" outline shape="rectangle">
          @for (item of facade.sidemenuLinks; track item.id) {
            <nb-option (click)="facade.route(item.link)" [value]="item.id">{{
                item.title |
                  translate
              }}
            </nb-option>
          }
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button (click)="facade.goToBack()" class="cancel_button" nbButton status="warning" type="button">{{
            'COMMON.CANCEL'
              | translate
          }}
        </button>
        <button (click)="facade.save()" [disabled]="!facade.form.valid" [nbSpinner]="facade.loader()" nbButton nbSpinnerSize="large"
                nbSpinnerStatus="control" status="success" type="button">
          {{ (!facade.loader() ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="facade.loader()" nbSpinnerSize="large" nbSpinnerStatus="primary">

    <form [formGroup]='facade.form'>
      <div class="form-group">
        <label class="col-sm-9 col-form-label " for="newPassword">{{
            'USER_CHANGE_PASSWORD.NEW_PASSWORD' |
              translate
          }}</label>
        <div class="col-sm-12">
          <input class="form-control inputText" formControlName='newPassword' fullWidth id="newPassword" nbInput
                 placeholder="{{ 'USER_CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
                 required type="password">
          @if ((facade.form.controls['newPassword'].dirty || facade.form.controls['newPassword'].touched) && facade.form.controls['newPassword'].invalid && facade.form.controls['newPassword']) {
            <span class="err-message">
              @if (facade.form.controls['newPassword'].errors.required) {
                <span>
                  {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_REQUIRED' | translate }}
                </span>
              }
              @if (facade.form.controls['newPassword'].errors.pattern) {
                <span>
                  {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                  {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_RULES' | translate }}
                </span>
              }
            </span>
          }
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-9 col-form-label " for="confirmNewPassword">{{
            'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate
          }}</label>
        <div class="col-sm-12">
          <input class="form-control inputText" formControlName='confirmNewPassword' fullWidth id="confirmNewPassword"
                 nbInput
                 placeholder="{{ 'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}"
                 required type="password">
          @if ((facade.form.controls['confirmNewPassword'].dirty || facade.form.controls['confirmNewPassword'].touched) && facade.form.hasError('notSame')) {
            <span class="err-message">
              {{ 'USER_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
            </span>
          }
        </div>
      </div>

    </form>

  </nb-card-body>
</nb-card>

