<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMMON.PASSWORD' | translate }}</h1>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <nb-select [(selected)]="selectedItem" outline shape="rectangle">
          <nb-option (click)="route(item.link)" *ngFor="let item of sidemenuLinks" [value]="item.id">{{
              item.title |
                translate
            }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col col-lg-2">
        <button nbButton status="warning" (click)="goToBack()" class="cancel_button" type="button">{{
            'COMMON.CANCEL'
              | translate
          }}
        </button>
        <button nbButton status="success" (click)="save()" [disabled]="!form.valid" [nbSpinner]="loader"
                nbSpinnerSize="large" nbSpinnerStatus="control" type="button">
          {{ (!loader ? 'COMMON.SAVE' : '') | translate }}
        </button>

      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary">

    <form [formGroup]='form'>
      <div class="form-group">
        <label class="col-sm-9 col-form-label " for="newPassword">{{
            'USER_CHANGE_PASSWORD.NEW_PASSWORD' |
              translate
          }}</label>
        <div class="col-sm-12">
          <input nbInput fullWidth  class="form-control inputText" formControlName='newPassword' id="newPassword"
                 placeholder="{{ 'USER_CHANGE_PASSWORD.NEW_PASSWORD' | translate }}"
                 required type="password">
          <span
            *ngIf="(form.controls['newPassword'].dirty || form.controls['newPassword'].touched) && form.controls['newPassword'].invalid && form.controls['newPassword']"
            class="err-message">
              <span *ngIf="form.controls['newPassword'].errors.required">
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_REQUIRED' | translate }}
              </span>
              <span *ngIf="form.controls['newPassword'].errors.pattern">
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_NOT_VALID' | translate }} <br/>
                {{ 'USER_CHANGE_PASSWORD.PASSWORD_ERROR_RULES' | translate }}
              </span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-9 col-form-label " for="confirmNewPassword">{{
            'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate
          }}</label>
        <div class="col-sm-12">
          <input nbInput fullWidth class="form-control inputText" formControlName='confirmNewPassword' id="confirmNewPassword"
                 placeholder="{{ 'USER_CHANGE_PASSWORD.REPEAT_NEW_PASSWORD' | translate }}"
                 required type="password">
          <span
            *ngIf="(form.controls['confirmNewPassword'].dirty || form.controls['confirmNewPassword'].touched) && form.hasError('notSame')"
            class="err-message">
              {{ 'USER_CHANGE_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
            </span>
        </div>
      </div>

    </form>

  </nb-card-body>
</nb-card>

