<nb-card accent="info" status="basic">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.STATISTICS' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <input [formControl]="formService.fromDateControl" [nbDatepicker]="fromDatePicker" [readOnly]="true"
               class="form-control has-person-icon inputText" fullWidth
               nbInput placeholder="Form Picker">
        <nb-datepicker #fromDatePicker (dateChange)="onFromDateChanged($event)"
                       [max]="facade.fromMaxDate"/>
      </div>
      <div class="col col-lg-2">
        <input [formControl]="formService.toDateControl" [nbDatepicker]="toDatePicker" [readOnly]="true"
               class="form-control has-person-icon inputText" fullWidth
               nbInput placeholder="To Picker">
        <nb-datepicker #toDatePicker (dateChange)="onToDateChanged($event)" [max]="facade.toMaxDate"/>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="facade.loading()" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="row">
      <div class="col-lg-4">
        <nb-card accent="info" status="control">
          <nb-card-header>{{ 'STATISTICS.SUBSCRIPTIONS' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-subscription-statistic [data]="facade.subscriptionData()"></ngx-subscription-statistic>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card accent="info" status="control">
          <nb-card-header>{{ 'STATISTICS.NEW_ORG_JOINER' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-new-org-joiner-statistic [data]="facade.newOrgJoinerData()"></ngx-new-org-joiner-statistic>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card accent="info" status="control">
          <nb-card-header>{{ 'STATISTICS.NEW_STORE_CREATED' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-new-store-created-statistic [data]="facade.newStoreCreatedData()"></ngx-new-store-created-statistic>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
