<nb-card status="basic" accent="info">
  <nb-card-header>
    <div class="row">
      <h1 class="page_title">{{ 'COMPONENTS.STATISTICS' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-lg-2">
        <input nbInput fullWidth [nbDatepicker]="fromDatePicker" [formControl]="fromDateControl" [readOnly]="true"
               class="form-control has-person-icon inputText" placeholder="Form Picker">
        <nb-datepicker #fromDatePicker (dateChange)="onFromDateChanged($event)"
                       [max]="fromMaxDates"/>
      </div>
      <div class="col col-lg-2">
        <input nbInput fullWidth [nbDatepicker]="toDatePicker" [formControl]="toDateControl" [readOnly]="true"
               class="form-control has-person-icon inputText" placeholder="To Picker">
        <nb-datepicker #toDatePicker (dateChange)="onToDateChanged($event)" [max]="toMaxDates"/>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="loader" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="row">
      <div class="col-lg-4">
        <nb-card status="control" accent="info">
          <nb-card-header>{{ 'STATISTICS.SUBSCRIPTIONS' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-subscription-statistic [paramsEmitter]="paramsEmitter"></ngx-subscription-statistic>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card status="control" accent="info">
          <nb-card-header>{{ 'STATISTICS.NEW_ORG_JOINER' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-new-org-joiner-statistic [paramsEmitter]="paramsEmitter"></ngx-new-org-joiner-statistic>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card status="control" accent="info">
          <nb-card-header>{{ 'STATISTICS.NEW_STORE_CREATED' | translate }}</nb-card-header>
          <nb-card-body>
            <ngx-new-store-created-statistic [paramsEmitter]="paramsEmitter"></ngx-new-store-created-statistic>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
