<nb-card class="page-card inner_pages">
  <!-- <div *ngIf="loadingList" class="loading-block" [nbSpinner]="loadingList" nbSpinnerSize="large"
    nbSpinnerStatus="primary"></div> -->
  <nb-card-body [nbSpinner]="loadingList" class="brandsList" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <div class="inner_pages_legacy">
      <nb-card-header class="main_header">
        <h1 class="page_title">{{ 'COMPONENTS.BRANDS' | translate }}</h1>
        <div class="content_spacing_empty"></div>

      </nb-card-header>
      <form class="form-inline filter_section">
        <div class="filter_left_section">
          <!-- <input #search class="search form-control ng-pristine ng-valid ng-touched" value="{{ searchValue }}" type="text"
            placeholder="{{ 'COMPONENTS.SEARCH' | translate }}" (keydown.enter)="onSearch(search.value)" style="width:45%"> -->
          <input #search class="search form-control ng-pristine ng-valid ng-touched" placeholder="{{ 'COMPONENTS.SEARCH' | translate }}"
                 style="width:45%"
                 type="text" value="{{ searchValue }}">
          <!-- <img class="pointer" src="../../../../assets/img/magnifying-glass.png" title="{{ 'COMMON.SEARCH' | translate}}"
            (click)="onSearch(search.value)" class="sda"> -->
          <img class="pointer" class="sda"
               src="../../../../assets/img/magnifying-glass.png"
               title="{{ 'COMMON.SEARCH' | translate}}">
          <!-- <img class="pointer" src="../../../../assets/img/reload.png" title="{{ 'COMMON.RESET' | translate}}" alt=""
            (click)="resetSearch()" class="sda"> -->
          <img alt="" class="pointer" class="sda" src="../../../../assets/img/reload.png"
               title="{{ 'COMMON.RESET' | translate}}">

        </div>
        <div class="filter_right_section">
          <ngx-store-autocomplete (onStore)="onSelectStore($event)"></ngx-store-autocomplete>
          <a [routerLink]="['/pages/catalogue/brands/create-brand',params.store+'-']" class="createBtn">
            <img alt="" class="pointer sda"
                 src="../../../../assets/img/plus.png"
                 title="{{ 'COMPONENTS.CREATE_BRAND' | translate}}">
            <label>{{ 'COMPONENTS.CREATE_BRAND' | translate }}</label>
          </a>
        </div>

      </form>


      <ngx-datatable
        (page)="setPage($event)"
        [columnMode]="ColumnMode.force"
        [count]="page.totalElements"
        [externalPaging]="true"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="page.size"
        [offset]="page.pageNumber"
        [rows]="rows"
        class="material"
        rowHeight="auto">

        <ngx-datatable-column name="Id">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'COMMON.ID' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="code">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.CODE' |translate }}</ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template let-column="column" ngx-datatable-header-template> {{ 'CONTENT.NAME' |translate }}</ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.description.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="actions">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{ 'ORDER.ACTIONS' |translate }}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button (click)="onEdit(row)" nbButton shape="round" size="small" status="primary"><i class="nb-edit"></i>
            </button>
            <button (click)="onDelete(row)" nbButton shape="round" size="small" status="danger"><i class="nb-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </nb-card-body>
</nb-card>
